<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Login</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="lc.closeLogin()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="lc.logindata.emailid">
            </label>
            <label class="item">
                <button class="button button-block button-positive" type="submit" ng-click="lc.doLogin()">Log in</button>
            </label>
        </div>
    </ion-content>
</ion-modal-view>