<ion-view hide-nav-bar="true">
    <ion-content has-bouncing="false" scroll="false">
        <div class="row">
            <div class="col reg-img-div">
                <img src="img/home.png" class="reg-img">
            </div>
        </div>
        <div class="list list-inset registration-div login-div">
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="lc.logindata.emailid">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="lc.logindata.password">
            </label>
            <button class="button button-block button-light signin" type="button" ng-click="lc.login()">Sign In</button>
        </div>
        <div class="row">
            <div class="col">
                <a class="button button-light login-fb" ng-click="lc.authLogin('facebook')">
                    SIGN IN WITH <i class="icon ion-social-facebook"></i>
                </a>
            </div>
            <div class="col">
                <a class="button button-light login-twitter" ng-click="lc.authLogin('twitter')">
                    SIGN IN WITH <i class="icon ion-social-twitter"></i>
                </a>
            </div>
        </div>
        <div class="row"> 
            <div class="col col-25">&nbsp;</div>
            <div class="col col-75 reg-text"><a href="#/app/registration">New User! Create an account</a>
            </div>
        </div>
    </ion-content>
</ion-view>