<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content class="screen-content">
        <div class="tabs tabs-icon-top tabs-striped tabs-top myaccount-top">
            <a class="tab-item active" href="#">
                <i class="icon ion-home"></i>
                MY ACCOUNT
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-ios-gear-outline"></i>
                SETTINGS
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-flash"></i>
                LIVE SALL
            </a>
        </div>
        <div class="row responsive-sm user-dtls-wrap">
            <div class="col">
                <div class="myaccount-img">
                    <img src="img/user-img.png">
                </div>
                <div class="myaccount-tag">
                    <div class="myaccount-taglabel">
                        <span>Username</span>Sayantani
                    </div> 
                    <div class="myaccount-taglabel">
                        <span>Email</span>sayantani.bannerjee@dreamztech.co
                    </div> 
                </div>
            </div>
        </div>
        <div class="row responsive-sm myaccount-button">
            <button class="button button-block button-outline button-line">BROWSE ITEMS</button>
            <button class="button button-block button-fill">MY CLOSET</button>
            <button class="button button-block button-outline button-line">POST AN ITEM</button>
            <button class="button button-block button-fill">MY ADDRESS</button>
            <button class="button button-block button-outline button-line ">MY SUBSCRIPTION</button>
        </div>
    </ion-content>
    <div class="bar bar-footer tabs tabs-icon-button tabs-icon-only footer-div">
        <a class="tab-item active" href="#">
            <i class="icon ion-search"></i>
        </a>
        <a class="tab-item" href="#">
            <i class="icon ion-pricetag"></i>
        </a>
        <a class="tab-item" href="#">
            <i class="icon ion-ios-camera"></i>
        </a> 
        <a class="tab-item" href="#">
            <i class="icon ion-card"></i>
        </a>
    </div>
</ion-view>