<ion-view hide-back-button="true" show-nav-bar="true">
  <ion-content has-bouncing="false">
    <div class="category-list">
      <div class="live-cat-head" ng-if="cart.showCartItem">
        <span>My Cart</span>
      </div> 
      <div ng-if="cart.cartproducts.length > 0 && cart.showCartItem">
        <div class="list cart-list">
          <div ng-repeat="item in cart.cartproducts track by $index" ng-init="cart.calculateTotalCartAmount(item)" class="item item-thumbnail-left cart-item">
            <img my-redirection="#/app/productdetail/{{item.crt_product_id}}" onerror="this.src='img/product-no-img.png'" ng-src="{{item.image_url|imagecheck}}">
            <div class="cart-item-title">
              <h2>{{item.crt_product_title}}</h2>
              <p>Price: {{item.crt_price | currency:"$"}}</p>
              <h3 class="delivery-cart">Delivery: <span>{{item.p_shipping_method.toLowerCase() == 'stamps_com' ? 'USPS' : item.p_shipping_method}}</span></h3>
              <p class="seller-name">Seller: <span>{{item.u_username}}</span></p>
              <p class="remaining-time" ng-if="item.showTimer">{{item.timeRemaining | showMinSec}} remaining</p>
            </div>
            <div class="cart-item-delete" ng-click="cart.removeCartItem(item)">
              <i class="ion-ios-close-outline"></i>
            </div>
          </div>
        </div>
        <div class="row cart-div">
          <div class="col col-75">Total Amount</div>
          <div class="col col-25">{{cart.totalCartAmount | currency:"$"}}</div>
        </div>
        <div class="row cart-div">
          <div class="col"><a class="button button-block button-fill" href="javascript:void(0)" ng-click="cart.checkAddress()" style="margin-bottom: 60px;">CHECKOUT</a></div>
        </div>
      </div>
      <div ng-if="cart.cartproducts.length > 0 && !cart.showCartItem">
        <div class="row responsive-sm user-dtls-wrap">
          <div class="col">
            <div class="list myaccount-setting">
              <div id="shipping">
                <div class="live-cat-head">
                  <span>Shipping Address</span>
                </div>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Full Name</span>
                  <input type="text" placeholder="Full Name" ng-model="cart.address.s_name">
                </label>                   
                <label class="item item-input item-floating-label">
                  <span class="input-label">Address1</span>
                  <input type="text" placeholder="Address1" ng-model="cart.address.s_address1">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Address2</span>
                  <input type="text" placeholder="Address2" ng-model="cart.address.s_address2">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">City</span>
                  <input type="text" placeholder="City" ng-model="cart.address.s_city">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">State</span>
                  <input type="text" placeholder="State" ng-model="cart.address.s_state">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Country</span>
                  <!-- <input type="text" placeholder="Country" ng-model="cart.address.s_country"> -->
                  <select ng-model="cart.address.s_country" ng-options="key as value for (key , value) in cart.countrylist">
                    <option hidden disabled="disabled" value="">Select Country</option>
                  </select>
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">ZIP</span>
                  <input type="text" placeholder="ZIP" ng-model="cart.address.s_zip">
                </label>
                <label class="item item-input item-floating-label" item-floating-label>
                  <span class="input-label">Phone No.</span>
                  <input type="text" placeholder="Phone No." ng-model="cart.address.s_phone">
                </label> 
                <label class="item leave-style">Billing address is same:<input type="checkbox" ng-model="cart.address.checkBoxValue"/></label>
              </div>

              <div ng-hide="cart.address.checkBoxValue" id="billing">
                <h4>Billing Address</h4>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Full Name</span>
                  <input type="text" placeholder="Full Name" ng-model="cart.address.b_name">
                </label>                   
                <label class="item item-input item-floating-label">
                  <span class="input-label">Address1</span>
                  <input type="text" placeholder="Address1" ng-model="cart.address.b_address1">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Address2</span>
                  <input type="text" placeholder="Address2" ng-model="cart.address.b_address2">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">City</span>
                  <input type="text" placeholder="City" ng-model="cart.address.b_city">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">State</span>
                  <input type="text" placeholder="State" ng-model="cart.address.b_state">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Country</span>
                  <!-- <input type="text" placeholder="Country" ng-model="cart.address.b_country"> -->
                  <select ng-model="cart.address.b_country" ng-options="key as value for (key , value) in cart.countrylist">
                    <option hidden disabled="disabled" value="">Select Country</option>
                  </select>
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">ZIP</span>
                  <input type="text" placeholder="ZIP" ng-model="cart.address.b_zip">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Phone No.</span>
                  <input type="text" placeholder="Phone No." ng-model="cart.address.b_phone">
                </label> 
              </div>
              <a class="button button-block button-fill setting-btn" ng-click="cart.confirmAddress()">CHECKOUT</a>
            </div>
          </div>
        </div>
      </div>

      <div class="no-order-found-box" ng-if="cart.cartproducts.length == 0">
        <h2>Cart is empty</h2>
      </div>
    </div>
  </ion-content>
  <account-footer></account-footer>
</ion-view>