<!--<ion-view hide-back-button="true" show-nav-bar="true" cache-view="false">
    <ion-content has-bouncing="false">
      <div class="pro-details-wrap" ng-if="cls.productId">
        <div class="row responsive-sm">
            <div class="col prod-title">{{cls.productdetails.p_title}}</div>
            <div class="col prod-cat">{{cls.productdetails.parent_category_name}} &raquo; {{cls.productdetails.p_cate_name}}</div>
        </div>

        <div class="row">
            <div ng-class="{'livesale-img': cls.onLiveSale}" class="col main-image"><span ng-if="cls.onLiveSale">LIVE SALE</span><img onerror="this.src='img/product-no-img.png'" ng-src="{{cls.mainThumbImage|imagecheck}}"></div>
            <div class="col pro-images">
                <div ng-repeat="imgsrc in cls.img_url track by $index" class="elem-img" ng-click="cls.setThumb(imgsrc)"><img onerror="this.src='img/product-no-img.png'" ng-src="{{imgsrc|imagecheck}}"></div>
            </div>

        </div>

        <div class="row">
            <div class="col price-tag">
                <div class="cur-price">PRICE <strike>${{cls.productdetails.p_max_selling_price}}</strike></div>
                <div class="sell-price">SELLING PRICE ${{cls.productdetails.p_selling_price}} </div>
                <div class="prod-rate"><i ng-class="cls.productdetails.tagcountaccess?'ion-ios-heart':'ion-ios-heart-outline'"></i>{{cls.tagcount}}<i class="ion-eye"></i>{{cls.productdetails.online_viewer}}</div>
            </div> 
            <div class="col button-tag">
                <div ng-if="cls.onLiveSale">
                    <div class="live-price" ng-if="!cls.freezingItem" class="sell-price">LIVE PRICE ${{cls.currentPrice}} </div>
                    <div class="freeze-price" ng-if="cls.freezingItem" class="sell-price">SELLING PRICE ${{cls.freezePrice}} </div>
                </div>
                <div ng-if="cls.productdetails.p_is_frozen == 'N' && cls.currentUserId != cls.productdetails.p_uid">
                    <button ng-if="!cls.onLiveSale" class="button button-small prod-buynow" ng-click="cls.addToCart(cls.productdetails.p_ID)"><span class="ion-ios-cart"></span> BUY NOW </button>
                    <button ng-if="!cls.onLiveSale" class="button button-small prod-tag" ng-click="cls.openTagModal()"><span class="ion-ios-pricetag"></span> TAG PRODUCT</button>
                    <button ng-if="cls.onLiveSale" ng-click="cls.confirmFreeze()" class="button button-small freze-prod"><i class="ion-ios-stopwatch-outline"></i> FREEZE IT NOW</button>
                </div>
                <div ng-if="cls.productdetails.p_is_frozen == 'Y'">
                    <div ng-if="cls.productdetails.p_frozen_by == loginData.user_ID">
                        <p>Item is already Frozen by you at ${{cls.productdetails.p_frozen_price}}!</p>
                        <button ng-click="cls.checkout()" class="button button-small freze-prod">PAY NOW</button>
                    </div>
                    <div ng-if="cls.productdetails.p_frozen_by != loginData.user_ID">
                        <p>Item is already Frozen by someone!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row responsive-sm prod-des">
            <span ng-repeat="entry in cls.data track by $index" slidetoggle="entry" divid="{{$index}}">
                <button ng-click="cls.openMessageModal($index);" ng-if="entry.title == 'Seller Info'"><i class="ion-android-mail"></i> Contact Seller</button>
            </span>
        </div>
        <div class="row"> <div class="col">&nbsp;</div></div>
        <div class="row responsive-sm" ng-if="cls.relatedProduct.length != 0">
            <div ng-if="!cls.onLiveSale" class="col prod-title related">Related Items</div>
            <div ng-if="cls.onLiveSale" class="col prod-title related">Upcoming Items</div>
        </div>
        <div ng-repeat="prod in cls.relatedProduct track by $index">
            <div class="row" ng-if="$even">
                <div class="col col-50 related-pro-div">
                    <a href="#/app/productdetail/{{cls.relatedProduct[$index].p_ID}}">
                        <span><i class="ion-pin"></i></span>
                        <img onerror="this.src='img/product-no-img.png'" ng-src="{{cls.relatedProduct[$index].img_url[0]|imagecheck}}">
                    </a>
                </div>
                <div class="col col-50 related-pro-div" ng-if="cls.relatedProduct[$index + 1].p_max_selling_price">
                    <a href="#/app/productdetail/{{cls.relatedProduct[$index + 1].p_ID}}">
                        <span><i class="ion-pin"></i></span>
                        <img onerror="this.src='img/product-no-img.png'" ng-src="{{cls.relatedProduct[$index + 1].img_url[0]|imagecheck}}">
                    </a>
                </div>
            </div>
        </div>
      </div>
      <div class="no-order-found-box" ng-if="!cls.productId">
        <h2>No Product on Live sale under {{cls.catDetails.cat_name}}</h2>
      </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>-->

<ion-view hide-back-button="true" show-nav-bar="true" cache-view="false">
    <ion-content has-bouncing="false">
      <div class="pro-details-wrap">
        <div class="row responsive-sm">
<!--            <div class="col prod-cat"><a href="#/app/productlist/{{cls.productdetails.parent_category_id}}">{{cls.productdetails.parent_category_name}}</a> &raquo; <a href="#/app/productlist/{{cls.productdetails.p_cat_category_id}}">{{cls.productdetails.p_cate_name}}</a></div>-->
                <div class="col prod-cat"><a href="#/app/livesalelist"><i class="icon ion-reply"></i> Live Sale</a></div>
        </div>

        <div class="row">
            <div ng-class="{'livesale-img': cls.onLiveSale}" class="col main-image"><span ng-if="cls.onLiveSale">LIVE SALE</span><img onerror="this.src='img/product-no-img.png'" ng-src="{{cls.mainThumbImage|imagecheck}}">
            </div>
            <!--<div class="col main-image"><img src="{{cls.mainThumbImage}}"></div>-->
            <div class="col pro-images">
                <div ng-repeat="imgsrc in cls.img_url track by $index" class="elem-img" ng-click="cls.setThumb(imgsrc)"><img onerror="this.src='img/product-no-img.png'" ng-src="{{imgsrc|imagecheck}}"></div>
                <div ng-if="cls.onLiveSale" class="liveprod-timer">
                    <!--<div live-progress min="0" max="{{cls.timeRemaining}}" ng-model="cls.productdetails.p_selling_price"></div>
                    <div class="timer-container">
                        <span>{{cls.timeRemaining}} secs left</span>
                        <div class="timer-box" style="width:{{cls.timeLeftPercent}}%">&nbsp;</div>
                    </div>-->
                    <!--                    <progress value="10" max="100">dqwd</progress>-->
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col price-tag">
                <div class="prod-title-new">{{cls.productdetails.p_title}}</div>
                <div ng-if="!cls.onLiveSale" class="cur-price"><strike>${{cls.productdetails.p_max_selling_price}}</strike> ${{cls.productdetails.p_selling_price}} </div>
<!--                <div ng-if="cls.onLiveSale" class="cur-pric live-percente"><span class="off-color">{{cls.currentPercentOff}}% Off </span> <strike> ${{cls.productdetails.p_max_selling_price}}</strike> <strike>${{cls.productdetails.p_selling_price}}</strike> 
                <div class="live-percent" ng-if="!cls.freezingItem"></div>
                </div>-->
<!--                <div class="sell-price">SELLING PRICE </div>-->

                <!--                <div ng-if="cls.onLiveSale" class="sell-price">SELLING PRICE ${{cls.currentPrice}} </div>
                                <div ng-if="cls.onLiveSale" class="sell-price">SELLING PRICE ${{cls.currentPrice}} </div>-->
                <div class="prod-rate" ng-if="cls.productdetails.p_is_sold!='Y'"><!--<i class="ion-ios-heart"></i> -->
                    <i ng-class="cls.tagcountaccess?'ion-ios-heart':'ion-ios-heart-outline'" ng-click="cls.submitPresetValue()"></i>{{cls.productdetails.p_preset_counter}}
                    <i class="ion-eye"></i>{{cls.productdetails.online_viewer}}
                </div>
            </div> 
            <div class="col button-tag">
                <div ng-if="cls.onLiveSale">
<!--                    <div class="live-percent" ng-if="!cls.freezingItem">{{cls.currentPercentOff}}% Off</div>-->
<div ng-if="cls.onLiveSale" class="cur-pric live-percente"><strike> ${{cls.productdetails.p_max_selling_price}}</strike> <span class="off-color">{{cls.currentPercentOff}}% Off </span> <!--<strike>${{cls.productdetails.p_selling_price}}</strike>--> 
<!--                <div class="live-percent" ng-if="!cls.freezingItem"></div>-->
                </div>
                    <div class="freeze-percent" ng-if="cls.freezingItem">{{cls.freezePercentOff}}% Off</div>
                    <div class="live-price sell-price" ng-if="!cls.freezingItem">LIVE PRICE ${{cls.currentPrice}} </div>
                    <div class="freeze-price sell-price" ng-if="cls.freezingItem">SELLING PRICE ${{cls.freezePrice}} </div>
                </div>
                <div ng-if="cls.productdetails.p_is_frozen == 'N' && cls.productdetails.p_is_sold=='N'">
<!--                    <button ng-if="!cls.onLiveSale" class="button button-small prod-buynow" ng-click="cls.addToCart(cls.productdetails.p_ID)"><span class="ion-ios-cart"></span> BUY NOW </button>
                    <button ng-if="!cls.onLiveSale" class="button button-small prod-tag" ng-click="cls.openTagModal()">
                        <span class="ion-ios-pricetag"></span>{{cls.tagcountaccess ?'We Will Remind You':'Remind Me'}} 
                    </button>-->
                    <button ng-if="cls.onLiveSale" ng-click="cls.confirmFreeze()" class="button button-small freze-prod"><i class="ion-ios-stopwatch-outline"></i> FREEZE IT NOW</button>
                    <div class="ended-label" ng-if="!cls.onLiveSale">
                        ENDED
                    </div>
                    
                </div>
                
                <div class="sold-label" ng-if="cls.productdetails.p_is_frozen == 'Y' || cls.productdetails.p_is_sold=='Y'">
                    SOLD
                </div>
            </div>
        </div>
        <div class="row xtra-border" ng-if="cls.productdetails.p_condition!=''"><div class="col"><strong>Condition</strong></div><div class="col">{{cls.productdetails.p_condition}}</div></div> 
        <div class="row xtra-border" ng-if="cls.productdetails.p_size!=''"><div class="col"><strong>Size</strong></div><div class="col">{{cls.productdetails.p_size}}</div></div> 
        <div class="row xtra-border" ng-if="cls.productdetails.p_brand!=''"><div class="col"><strong>Brand</strong></div><div class="col">{{cls.productdetails.p_brand}}</div></div>
        <div class="row responsive-sm prod-des">
            <span ng-repeat="entry in cls.data track by $index" slidetoggle="entry" sellerid="{{cls.productdetails.p_uid}}"></span>
        </div>
        <div class="row"> <div class="col">&nbsp;</div></div>
        <div class="row">
          <div class="col">
            <div class="buyer-protection">
              Buyers Protection: In case of any dispute buyers can directly contact the seller to resolve the issue. If the issue cannot be resolved contact iBuySell support and our support team will assist find a resolution
            </div>
          </div>
        </div>
        <div class="row responsive-sm" ng-if="cls.upcoming.length != 0">
            <!--<div ng-if="!cls.onLiveSale" class="col prod-title related">Related Items</div>-->
            <div class="col prod-title related">Upcoming Items</div>
        </div>
        
        <div ng-repeat="prod in cls.upcoming track by $index | limitTo:6">
            <div class="row" ng-if="$even">
                <div class="col col-50 related-pro-div">
                    <a href="#/app/productdetail/{{cls.upcoming[$index].p_ID}}">
                        <span><i class="ion-pin"></i></span>
                        <img onerror="this.src='img/product-no-img.png'" ng-src="{{cls.upcoming[$index].img_url|imagecheck}}">
                    </a>
                </div>
                <div class="col col-50 related-pro-div" ng-if="cls.upcoming[$index + 1].p_ID">
                    <a href="#/app/productdetail/{{cls.upcoming[$index + 1].p_ID}}">
                        <span><i class="ion-pin"></i></span>
                        <img onerror="this.src='img/product-no-img.png'" ng-src="{{cls.upcoming[$index + 1].img_url|imagecheck}}">
                    </a>
                </div>
            </div>
        </div>
      </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>

