<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content class="top-bar" drag-content="false">
        <ion-nav-bar class="bar-stable" align-title="center">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-title>
                <a href="#/app/myaccount"><img src="img/top-logo.png" class="top-logo"></a>
            </ion-nav-title>
            <ion-nav-buttons side="right">
                <a href="#/app/notification" class="notification-top" ><span class="icon icon-bell"></span><p class="noti-count">{{ps.MessageCount}}</p></a>
                <a href="#/app/cart" class="notification-top cart-notifi"><span class="icon icon-bag"></span><p>{{ps.CartCount}}</p></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" drag-content="false">
        <ion-header-bar class="bar-stable center">
            <div class="sidebar-logo-wrap">
                <img src="img/top-logo.png" class="sidebar-logo">
            </div>
        </ion-header-bar>
        <ion-content>
            <div class="sidebar-list">
                <ion-list>
                    <div>
                        <ion-item class="item item-icon-right" menu-close>
                            <a href="#/app/categoryall" menu-close class="item-content all-cat">
                                All Categories
                                <i class="icon ion-chevron-right"></i>
                            </a>
                        </ion-item>
                        <!-- <ion-item class="item-accordion" ng-repeat="(id, item) in value" ng-if="ps.isCategoryShown(key)">{{item}}</ion-item> -->
                    </div>
                    <div ng-repeat="(key, value) in ps.categories track by $index">
                        <ion-item class="item item-icon-right" >
                            <a href="#/app/productlist/{{ps.mainCategories[key]}}" class="menu-blk" menu-close>{{key}}</a>
                            <i ng-class="ps.isCategoryShown(key) ? 'icon ion-chevron-down' : 'icon ion-chevron-right'" ng-click="ps.toggleCategory(key)"></i>
                        </ion-item>
                        <ion-item class="item-accordion cat-block" ng-repeat="(id, item) in value" ng-if="ps.isCategoryShown(key)" href="#/app/productlist/{{id}}" menu-close>
                            {{item}}
                        </ion-item>
                    </div>
                    <div class="left-bar-separator">&nbsp;</div>
                    <div>
                        <ion-item class="item item-icon-right" menu-close>
                            <a href="#/app/mysetting" menu-close class="item-content all-cat">
                                Account Setting
                            </a>
                        </ion-item>
                    </div>
                    <div>
                        <ion-item class="item item-icon-right" menu-close>
                            <a href="#/app/faq" menu-close class="item-content all-cat">
                                FAQ
                            </a>
                        </ion-item>
                    </div>
                </ion-list>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>