<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content class="screen-content" has-bouncing="false">
        <div class="row">
            <div class="col text-center"><a class="button button-small button-block button-live-sale" href="#/app/livesalelist"><span class="icon icon-live-sale"></span> LIVE SALE</a></div>
        </div>
        <div ng-repeat="(key, value) in ls.catdata">
            <div categoryslider  slider="value" category="key"></div>
        </div>
    </ion-content>
    <account-footer tab="catlist"></account-footer>
</ion-view>
