<ion-view hide-back-button="true" show-nav-bar="true">
<ion-content has-bouncing="false">
<div class="category-list">
    <div class="live-cat-head" ng-if="!cart.showCartItem">
        <span>Checkout</span>
    </div>
    <div ng-if="chk.cartproducts.length > 0">
        <ion-list class="cart-list checkout-cart-list">
            <div ng-repeat="chkgritem in chk.checkoutGroup track by $index">
                <ion-item class="item-stable"
                ng-click="chk.toggleGroup(chkgritem)"
                ng-class="{active: chk.isGroupShown(chkgritem)}">
                    <i class="icon" ng-class="chk.isGroupShown(chkgritem) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;
                    {{chkgritem.label}}
                </ion-item>

                <ion-item class="cart-item checkout-item item-accordion"
                ng-repeat="chkitem in chkgritem.data" ng-if="chkgritem.id==0"
                ng-show="chk.isGroupShown(chkgritem)" ng-init="chk.calculateTotalCartAmount( chkgritem, chkitem)">
                        <!-- <img src="{{chkitem.image_url}}">
                        <div class="cart-item-title">
                            <h2>{{chkitem.crt_product_title}}</h2>
                            <p>Price: ${{chkitem.crt_price}}</p>
                            <p>Shipping Price: ${{chkitem.shipping_method_spg_price}}</p>
                            <p>Total Price: ${{chkitem.crt_total_price}}</p>
                            <h3 class="delivery-cart">Delivery: <span>{{chkitem.p_shipping_method}}</span></h3>
                            <p class="seller-name">Seller: <span>{{chkitem.u_username}}</span></p>
                        </div>
                        <select ng-model="chkitem.shipping_method_spg_combo" 
                            ng-options="value.id as value.label for (key , value) in chk.shipmentOptions"
                            ng-change="chk.chooseShippingService(chkitem)">
                            <option style="display:none" value="">Shipping</option>
                        </select> -->
                        <div class="row checkout-item-title-wrap">
                            <div class="col checkout-item-title"><h2>{{chkitem.crt_product_title}}</h2></div>
                        </div>
                        <div class="row checkout-item-dwrap">
                            <div class="col col-33 checkout-item-img"><img onerror="this.src='img/product-no-img.png'" ng-src="{{chkitem.image_url|imagecheck}}"></div>
                            <div class="col col-67 checkout-item-price">
                              <p><span>Price:</span> {{chkitem.crt_price | currency:"$"}}</p>
                                <p><span>Shipping Price:</span> {{chkitem.shipping_method_spg_price | currency:"$"}}</p>
                                <p><span>Total Price:</span> {{chkitem.crt_total_price | currency:"$"}}</p>
                            </div>
                        </div>
                        <div class="row checkout-item-btm-wrap">
                            <div class="col checkout-item-delv"> 
                                <h3 class="delivery-cart">Delivery: <span>{{chkitem.p_shipping_method.toLowerCase() == 'stamps_com' ? 'USPS' : chkitem.p_shipping_method}}</span></h3>
                                <p class="seller-name">Seller: <span>{{chkitem.u_username}}</span></p>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col checkout-item-shipment">
                                <select ng-model="chkitem.shipping_method_spg_combo" 
                                    ng-options="value.id as value.label for (key , value) in chkitem.shipment_options"
                                    ng-change="chk.chooseShippingService(chkitem)">
                                    <option hidden disabled="disabled" value="">Shipping</option>
                                </select>
                            </div>
                        </div>
                </ion-item>

                <ion-item class="checkout-address-item item-accordion"
                ng-repeat="chkitem in chkgritem.data" ng-if="chkgritem.id!=0"
                ng-show="chk.isGroupShown(chkgritem)">
                    <div class="row">
                        <div class="col">{{chkitem.label}}</div>
                        <div class="col">{{chkitem.value}}</div>
                    </div>
                </ion-item>
            </div>
        </ion-list>

        <div class="row cart-div">
            <div class="col col-75">TOTAL AMOUNT</div>
            <div class="col col-25 text-right">{{chk.totalCartAmount | currency:"$"}}</div>
        </div>
        <div class="row cart-div">
            <div class="col"><a class="button button-block button-fill" href="javascript:void(0)" ng-click="chk.choosePaymentMethod()" style="margin-bottom: 60px;">Choose Payment Method</a></div>
        </div>

        
    </div>
    <div class="row cart-empty" ng-if="cart.cartproducts.length == 0">
        <div class="list cart-list">
            <a class="item item-icon-left cart-item" href="javascript:void(0)">
                <i class="icon ion-android-warning"></i>
                Cart is empty
            </a>
        </div>
    </div>
</div>
</ion-content>
<account-footer></account-footer>
</ion-view>