<ion-view hide-back-button="true" show-nav-bar="true">
<ion-content has-bouncing="false">
<div class="category-list">
    <div ng-repeat="(key,list) in lsl.catList track by $index">
        <div class="category">
            <div class="live-cat-head">
                <span ng-if="list[0].cat_special_words">{{list[0].cat_special_words}}</span> <span ng-if="!list[0].cat_special_words">{{list[0].cat_name}}</span><!--<span class="cat-special-text">{{list.cat_special_words}}</span>--></div>
                <!--                <div class="live-sale-slider">
                                        <a class="slider-element" ng-href="#/app/productdetail/{{list.p_ID}}">
                                            <div class="slider-element-img">
                                                    <span>LIVE SALE</span>
                                                    <img src="{{list.img_url[0] |imagecheck}}">
                                            </div>
                                            <div class="slider-element-content">
                                                    <p class="pro-title">
                                                        {{list.p_title}}
                                                    </p>
                                                    <p class="pro-price">${{list.p_selling_price}}</p>
                                                    <div class="product-grid-cond">Condition: {{list.p_condition}}</div>
                                                    <div class="product-grid-price">Price: ${{list.currentPrice}}</div>
                                                    <div class="liveprod-timer">
                                                            <div class="timer-container">
                                                                    <span>{{list.timeRemaining}} secs left</span>
                                                                    <div class="timer-box" style="width:{{list.timeLeftPercent}}%; background-color:{{list.color}}">&nbsp;</div>
                                                            </div>
                                                            <progress value="10" max="100">dqwd</progress>
                                                </div>
                                                <button class="button icon-left ion-ios-cart">BUY NOW</button>
                                        </div>
                                    </a>
            </div>-->
        </div>
    </div>
    <div class="no-order-found-box" ng-if="ls.catList.length == 0">
        <h2>No Product found in live sale.</h2>
    </div>
    <!--        <ion-infinite-scroll
                ng-if="list.canWeLoadMoreContent()"
                on-infinite="list.populateList()"
                distance="1%">
    </ion-infinite-scroll>-->
</div>
</ion-content>
<account-footer></account-footer>
</ion-view>