<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content has-bouncing="false">

        <div class="row responsive-sm">
            <div class="col prod-title">Lapguard HP Envy 14 Touch Series 6 Cell Laptop Battery</div>
            <div class="col prod-cat"><span>Category:</span> LIFESTYLE >> GGGREGREGREGREG</div>
        </div>
        <div class="row">
            <div class="col main-image livesale-img"><span>LIVE SALE</span><img onerror="this.src='img/product-no-img.png'" ng-src="{{lpd.mainThumbImage|imagecheck}}"></div>
            <div class="col pro-images">
                <div ng-repeat="imgsrc in lpd.productdetails.img_url" class="elem-img" ng-click="lpd.setThumb(imgsrc)"><img onerror="this.src='img/product-no-img.png'" ng-src="{{imgsrc|imagecheck}}"></div>
                <div class="liveprod-timer">
                    <div live-progress min="" max=""></div>
<!--                    <progress value="10" max="100">dqwd</progress>-->
                </div>
            </div>
        </div>
<!--        <div class="row">
            <div class="col main-image livesale-img">
                <span>LIVE SALE</span>
                <img src="img/pro-dtl-img.jpg">
            </div>
            <div class="col pro-images">
                <div class="elem-img"><img src="img/pro-thumb.jpg"></div>
                <div class="elem-img"><img src="img/pro-thumb.jpg"></div>
                <div class="elem-img"><img src="img/pro-thumb.jpg"></div>
                <div class="elem-img"><img src="img/pro-thumb.jpg"></div>
                <div class="elem-img"><img src="img/pro-thumb.jpg"></div>
                <div class="elem-img"><img src="img/pro-thumb.jpg"></div> 
                <div class="liveprod-timer">
                    <div live-progress min="" max=""></div>
                    <progress value="10" max="100">dqwd</progress>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col price-tag">
                <div class="cur-price">PRICE <strike>$240</strike></div>
                <div class="sell-price">SELLEING PRICE $120 </div>
                <div class="prod-rate"><i class="ion-ios-star"></i>90<i class="ion-eye"></i> 2004</div>
            </div>
            <div class="col button-tag">
                <div class="live-price">live price $80</div>
                <button class="button button-small freze-prod">TAG PRODUCT</button>
            </div>
        </div>

<!--        <ul>
            <li ng-repeat="entry in lpd.data" slidetoggle="entry">frewfrewf</li>
        </ul>-->
        
        
        <div class="row responsive-sm prod-des">
            <span ng-repeat="entry in lpd.data" slidetoggle="entry"></span>
            

<!--            <div class="col prod-chahead">Related Product <i class="ion-chevron-right"></i></div>
            <div class="col prod-chahead">Related Product <i class="ion-chevron-right" ng-click="lpd.toggle();"></i></div>
            <div class="col prod-chadet" ng-class="lpd.openclass">
                The guys @ google changed the animation module significantly yet managed to keep the API backwards compatible, extending with new animation services that joined the neighborhood. In fact, it could be easily tagged ngAnimate 2.0, but its backward compatibility makes it 1.4 and yes, it will work on both 1.x and 2.0 (same for the new router)
            </div>-->
        </div>

        <div class="row responsive-sm">
            <div class="col prod-title related">Upcoming Items</div>
        </div>

        <div class="row">
            <div class="col related-pro-div">
                <a href="javascript:void(0);"><i class="ion-plus"></i></a>
                <img src="img/wishlist-img.jpg">
            </div>
            <div class="col related-pro-div">
                <a href="javascript:void(0);"><i class="ion-plus"></i></a>
                <img src="img/wishlist-img.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col related-pro-div">
                <a href="javascript:void(0);"><i class="ion-plus"></i></a>
                <img src="img/wishlist-img.jpg">
            </div>
            <div class="col related-pro-div">
                <a href="javascript:void(0);"><i class="ion-plus"></i></a>
                <img src="img/wishlist-img.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col related-pro-div">
                <a href="javascript:void(0);"><i class="ion-plus"></i></a>
                <img src="img/wishlist-img.jpg">
            </div>
            <div class="col related-pro-div">
                <a href="javascript:void(0);"><i class="ion-plus"></i></a>
                <img src="img/wishlist-img.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col related-pro-div">
                <a href="javascript:void(0);"><i class="ion-plus"></i></a>
                <img src="img/wishlist-img.jpg">
            </div>
            <div class="col related-pro-div">
                <a href="javascript:void(0);"><i class="ion-plus"></i></a>
                <img src="img/wishlist-img.jpg">
            </div>
        </div>
    </ion-content>
</ion-view>
