<ion-view hide-back-button="true" show-nav-bar="true">
  <ion-content has-bouncing="false">
    <div ng-repeat="(key,list) in ls.liveProducts track by $index">
      <div class="category-list  padding-less" ng-if="list">
        <div class="live-cat-head">{{list.parent_category_name}} <!--<span class="cat-special-text">{{list.cat_special_words}}</span>--></div>
        <div class="live-sale-slider new-wrap-live-sale">
          <div class="row">
            <div class="col main-image"><span class="ls-tag">LIVE SALE</span>
              <a ng-href="#/app/livesalecat/{{list.parent_category_id}}"><img onerror="this.src='img/product-no-img.png'" ng-src="{{list.img_url[0]|imagecheck}}"></a>
            </div>
            <!--<div class="col main-image"><img src="{{ls.mainThumbImage}}"></div>-->
            <div class="col pro-images">
              <div class="up-com-wrap">
              <h5 ng-if="ls.upcoming[key].length > 0">Upcoming Sale</h5>
              <div class="elem-img" ng-repeat="upcmg in ls.upcoming[key]">
                <img onerror="this.src='img/product-no-img.png'" my-redirection="#/app/productdetail/{{upcmg.p_ID}}" ng-src="{{upcmg.img_url}}">
              </div>
              </div>
              <!--     
                  {"cat_ID":5,"cat_firebase_index":"-K5ezCPVghGif3LVui3j","cat_name":"Shoes","cat_parent_id":0,"cat_size":"N/A","cat_slug":"shoes","cat_special_words":"","cat_status":"active","img_url":"http://98.191.125.87/dtswork/ibuysell//assets/img/productimages/thumb/340/IMG16676854903.jpg","p_ID":58,"p_brand":"Steve Madden","p_brand_authnticity":"1","p_brand_model_number":"Kc-maven","p_condition":"NEW WITH TAGS","p_created":1450954617,"p_description":"The Steve Madden Maven Sandals feature a Synthetic upper with a Open Toe. The Man-Made outsole lends lasting traction and wear. Shaft measures approximately 14.5\" from arch Heel measures approximately 5\" Platform measures approximately 0.5\"","p_firebase_ID":"-K6LCh2R16tWWra7LJsv","p_is_featured":"N","p_is_frozen":"N","p_is_sold":"N","p_live_start_time":1451478242,"p_max_selling_price":159.95,"p_min_selling_price":74.99,"p_on_live_sale":"Y","p_selling_price":79.99,"p_shipping_method":"USPS","p_size":"10","p_sku":"","p_slug":"","p_status":"published","p_title":"Steve Madden Women's KC-Maven Dress Pump","p_uid":41,"p_weight":"32"}
                          <div ng-if="ls.onLiveSale" class="liveprod-timer">
                                  <div live-progress min="0" max="{{ls.timeRemaining}}" ng-model="ls.productdetails.p_selling_price"></div>
                                  <div class="timer-container">
                                      <span>{{ls.timeRemaining}} secs left</span>
                                      <div class="timer-box" style="width:{{ls.timeLeftPercent}}%">&nbsp;</div>
                                  </div>
                              </div>-->
              <div class="row">
                <div class="col col-50 no-padding">
                  <div class="padding-both">
                    <div ng-if="!list.ended && list.p_is_frozen == 'N'" class="pro-price cur-price"><strike>${{list.p_max_selling_price}}</strike> <!--<strike>${{list.p_selling_price}}</strike>--></div>
                    <div ng-if="list.ended || list.p_is_frozen == 'Y'" class="pro-price cur-price">${{list.p_max_selling_price}} <!--${{list.p_selling_price}}--></div>
                  <div ng-if="!list.freezingItem && !list.ended && list.p_is_frozen == 'N' && list.currentPercentOff>0" class="price-off">{{list.currentPercentOff}}% Off</div>
                  <div ng-if="list.freezingItem" class="price-off">{{list.freezePercentOff}}% Off</div>
                  </div>
                </div>
                <div class="col col-50 no-padding">
                  <div class="padding-both">
                  <div ng-if="list.p_is_frozen == 'N' && !list.ended">
                    <div class="live-price sell-price" ng-if="!list.freezingItem">${{list.currentPrice}} </div>
                    <div class="freeze-price sell-price" ng-if="list.freezingItem">${{list.freezePrice}} </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-50">
              <div class="row">
                <div class="col no-padding">
                  <p class="pro-title">{{list.p_title}}</p>
                  <!--<div class="product-grid-cond">{{list.p_condition}}</div> -->
                </div>
              </div>
              <div class="row">
              <div class="col col-50 no-padding">
                <div class="user-tag ng-binding">
                  <span userids="{{list.p_preset_userid}}" productid="{{list.p_ID}}" counter="{{list.p_preset_counter}}" managepreset></span>
                </div>
              </div>
              <div class="col col-50  no-padding">
                <div class="user-view ng-binding">
                  <i class="ion-eye"></i> <span>{{list.online_viewer}}</span>
                </div>
              </div>
              </div>
            </div>
            <div class="col col-50">
              <!--<div class="product-grid-price">Price: ${{list.currentPrice}}</div>-->
              <div class="adjust-padding">
              <button ng-if="list.p_is_frozen == 'N' && !list.ended" ng-click="ls.confirmFreeze(key)" class="button button-small freze-prod"><i class="ion-ios-stopwatch-outline"></i> FREEZE IT NOW</button>
              <div ng-if="list.p_is_frozen == 'Y'" class="sold-label">Sold
                <!--                        <div ng-if="list.p_frozen_by == loginData.user_ID">
                                            <p>Item is already Frozen by you at ${{list.p_frozen_price}}!</p>
                                            <button ng-click="pd.checkout()" class="button button-small freze-prod">PAY NOW</button>
                                        </div>
                                        <div ng-if="list.p_frozen_by != loginData.user_ID">
                                            <p>SOLD</p>
                                        </div>-->
              </div>
              <div ng-if="list.ended && list.p_is_frozen == 'N'" class="ended-label">Ended</div>
            </div>
            </div>
          </div>
          <!--                    <a class="slider-element" ng-href="#/app/livesalecat/{{list.parent_category_id}}">
                                  <div class="slider-element-img">
                                      <span>LIVE SALE</span>
                                      <img ng-src="{{list.img_url[0] |imagecheck}}">
                                  </div>
                                  <div class="slider-element-content">
                                      <p class="pro-title">
                                          {{list.p_title}}
                                      </p>
                                      <p class="pro-price">${{list.p_selling_price}}</p>
                                      <div class="product-grid-cond">Condition: {{list.p_condition}}</div>
                                      <div class="product-grid-price">Price: ${{list.currentPrice}}</div>
                                      <div class="liveprod-timer">
                                          <div class="timer-container">
                                              <span>{{list.timeRemaining}} secs left</span>
                                              <div class="timer-box" style="width:{{list.timeLeftPercent}}%; background-color:{{list.color}}">&nbsp;</div>
                                          </div>
                                      </div>
                                      <button class="button icon-left ion-ios-cart">BUY NOW</button>
                                  </div>
                              </a>-->
        </div>
      </div>
      <!--            <div class="row" ng-if="$even">
                      <a class="col col-50 product-grid" href="#/app/productdetail/{{ls.totalList[$index].p_ID}}">
                          <div class="product-grid-img">
                              <img src="{{ls.totalList[$index].img_url[0] |imagecheck}}">
                          </div>
                          <div class="product-grid-title">{{ls.totalList[$index].p_title}}</div>
                          <div class="product-grid-cond">Condition :{{ls.totalList[$index].p_condition}}</div>
                          <div class="product-grid-price">Price : {{ls.totalList[$index].p_selling_price}}</div>
                      </a>
                      <a class="col col-50 product-grid" ng-if="ls.totalList[$index + 1].p_selling_price" href="#/app/productdetail/{{ls.totalList[$index +1].p_ID}}">
                          <div class="product-grid-img">
                              <img src="{{ls.totalList[$index].img_url[0] |imagecheck}}">
                          </div>
                          <div class="product-grid-title">{{ls.totalList[$index + 1].p_title}}</div>
                          <div class="product-grid-cond">Condition :{{ls.totalList[$index + 1].p_condition}}</div>
                          <div class="product-grid-price">Price : {{ls.totalList[$index + 1].p_selling_price}}</div>
                      </a>
                  </div>-->
    </div>
        <div class="no-order-found-box" ng-if="ls.liveProducts|isEmpty">
          <h2>Next batch of live sale items are coming up shortly...</h2>
        </div>
  </ion-content>
  <account-footer tab="livesale"></account-footer>
</ion-view>

