<ion-modal-view>
    <ion-header-bar class="bar bar-header email-modal-top">
        <h1 class="title">Message to Seller</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeMessageModal()"><i class="ion-close-circled close-btn"></i></button>
        </div>
    </ion-header-bar>
    <ion-content scroll="false">
        <div class="list list-inset msg-to-seller-wrap">
            <label class="item item-input">
                <input type="text" ng-model="modal.subject" placeholder="Enter Subject">
            </label>
            <label class="item item-input">
                <textarea ng-model="modal.message" placeholder="Enter Message"></textarea>
            </label>
        </div>
        <div class="row">
            <div class="col"><button class="button button-block button-fill send-msg-btn" ng-click="submitMessage(modal)">Send Message <i class="ion-paper-airplane"></i></button></div>
        </div>
    </ion-content>
</ion-modal-view>