<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content has-bouncing="false">
        <div class="payment-top category-list"> 
            <div class="live-cat-head">
                <span>My Cart</span>
            </div>
            <div class="cart-count">YOU HAVE <b>{{ps.CartCount}} ITMES</b> IN YOUR CART</div>
            <div class="cart-payment-title">CHOOSE PAYMENT METHOD:</div>
            <div class="cart-payment-method">
                <span ng-click="pay.togglePayment('card')" class="icon icon-cc" ng-class="{actv:pay.isPayment=='card'}"></span>
                <span ng-click="pay.togglePayment('paypal')" class="icon icon-paypal" ng-class="{actv:pay.isPayment=='paypal'}"></span>
            </div>
        </div> 

        <form ng-submit="pay.payNow()">
            <div ng-if="pay.isPayment=='card'">
                <div class="row">
                    <div class="col col-66" side="left">
                        <input type="text" ng-model="pay.paymentform.card_holder_name" class="pay-input" placeholder="CARDHOLDER NAME">
                    </div>
                    <div class="col" side="left">
                        <select ng-model="pay.paymentform.card_type" 
                            ng-options="value.id as value.label for (key , value) in pay.cardtypes">
                            <option style="display:none" value="">Type</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-75">
                        <input type="number" class="pay-input" ng-model="pay.paymentform.card_no" placeholder="CARD NUMBER">
                    </div>
                    <div class="col">
                        <input type="number" class="pay-input" ng-model="pay.paymentform.cvv" placeholder="CVV">
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col col-25 exp-txt">
                        EXPIRES
                    </div> -->
                    <div class="col">
                        <select ng-model="pay.paymentform.month" 
                            ng-options="value.id as value.label for (key , value) in pay.months">
                            <option style="display:none" value="">Month</option>
                        </select>
                    </div>
                    <div class="col">
                        <select ng-model="pay.paymentform.year" 
                            ng-options="value.id as value.label for (key , value) in pay.years">
                            <option style="display:none" value="">Year</option>
                        </select>
                    </div>
                </div>
            </div>
            <div ng-if="pay.isPayment=='paypal'">
                <div class="row">
                    <div class="col">Click "PAY NOW" for confirm the payment.</div>
                </div>
            </div>
            <div class="row total-price">
                <div class="col col-50 text-right">
                    Total:
                </div>
                <div class="col col-50 text-right">
                    {{pay.totalCartAmount | currency:"$"}}
                </div>
            </div>
            <div class="row myaccount-setting">
                <button type="submit" class="button button-block button-fill setting-btn">PAY NOW</button>
            </div>
        </form>
    </ion-content>
    <account-footer tab="payment"></account-footer>
</ion-view>
