<ion-modal-view>
    <ion-header-bar class="bar bar-header email-modal-top">
        <h1 class="title">Enter Preset value</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="pd.closeTagModal()"><i class="ion-close-circled close-btn"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="category-list">
            <div class="live-cat-head">
                <span>{{pd.productdetails.p_title}}</span>
            </div>
            <div class="row">
                <div class="col main-image">
                    <img onerror="this.src='img/product-no-img.png'" ng-src="{{pd.mainThumbImage|imagecheck}}">
                </div>
                <div class="col">
                    <b>Description:</b>
                    <br>
                    {{pd.productdetails.p_description}}
                </div>
            </div>
            <div class="list list-inset registration-div login-div text-center">
<!--                <h4 class="rem-price">Enter Remind price</h4>
                <label class="item item-input">
                    <input type="number" ng-model="pd.preset_price" placeholder="Enter Price">
                </label>
                <label class="item item-input" ng-if="pd.errormsg" style="border: 0px;">
                    <p class="error">{{pd.errormsg}}</p>
                </label>-->
                <button class="button button-balanced email-modal-btn signin" type="button" ng-click="pd.submitPresetValue();">Set Reminder</button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>