<ion-view hide-back-button="true" show-nav-bar="true" cache-view="false">
    <ion-content has-bouncing="false">
      <div class="pro-details-wrap">
        <div class="row responsive-sm">
<!--            <div class="col prod-title">{{pd.productdetails.p_title}}</div>-->
            <div class="col prod-cat"><a href="#/app/productlist/{{pd.productdetails.parent_category_id}}">{{pd.productdetails.parent_category_name}}</a> &raquo; <a href="#/app/productlist/{{pd.productdetails.p_cat_category_id}}">{{pd.productdetails.p_cate_name}}</a></div>
        </div>

        <div class="row">
            <div ng-class="{'livesale-img': pd.onLiveSale}" class="col main-image">
                <span ng-if="pd.onLiveSale">LIVE SALE</span>
                <img onerror="this.src='img/product-no-img.png'" ng-src="{{pd.mainThumbImage|imagecheck}}">
            </div>
            <!--<div class="col main-image"><img src="{{pd.mainThumbImage}}"></div>-->
            <div class="col pro-images">
                <div ng-repeat="imgsrc in pd.img_url track by $index" class="elem-img" ng-click="pd.setThumb(imgsrc)"><img onerror="this.src='img/product-no-img.png'" ng-src="{{imgsrc|imagecheck}}"></div>
                <div ng-if="pd.onLiveSale" class="liveprod-timer">
                    <!--<div live-progress min="0" max="{{pd.timeRemaining}}" ng-model="pd.productdetails.p_selling_price"></div>
                    <div class="timer-container">
                        <span>{{pd.timeRemaining}} secs left</span>
                        <div class="timer-box" style="width:{{pd.timeLeftPercent}}%">&nbsp;</div>
                    </div>-->
                    <!--                    <progress value="10" max="100">dqwd</progress>-->
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col price-tag">
                <div class="prod-title-new">{{pd.productdetails.p_title}}</div>
                <div ng-if="!pd.onLiveSale" class="cur-price"><strike>${{pd.productdetails.p_max_selling_price}}</strike> ${{pd.productdetails.p_selling_price}} </div>
<!--                <div ng-if="pd.onLiveSale" class="cur-price"><strike>${{pd.productdetails.p_max_selling_price}}</strike> <strike>${{pd.productdetails.p_selling_price}}</strike> </div>-->
<!--                <div class="sell-price">SELLING PRICE </div>-->

                <!--                <div ng-if="pd.onLiveSale" class="sell-price">SELLING PRICE ${{pd.currentPrice}} </div>
                                <div ng-if="pd.onLiveSale" class="sell-price">SELLING PRICE ${{pd.currentPrice}} </div>-->
                <div class="prod-rate" ng-if="pd.productdetails.p_is_sold!='Y'"><!--<i class="ion-ios-heart"></i> -->
                    <i ng-class="pd.tagcountaccess?'ion-ios-heart':'ion-ios-heart-outline'" ng-click="pd.submitPresetValue()"></i>{{pd.productdetails.p_preset_counter}}
                    <i class="ion-eye"></i>{{pd.productdetails.online_viewer}}
                </div>
            </div> 
            <div class="col button-tag">
                <div ng-if="pd.onLiveSale">
<!--                    <div class="live-percent" ng-if="!cls.freezingItem">{{pd.currentPercentOff}}% Off</div>-->
                    <div class="cur-pric live-percente"><strike> ${{pd.productdetails.p_max_selling_price}}</strike> <span class="off-color">{{pd.currentPercentOff}}% Off </span> </div>
                    <div class="freeze-percent" ng-if="cls.freezingItem">{{pd.freezePercentOff}}% Off</div>
                    <div class="live-price sell-price" ng-if="!pd.freezingItem">LIVE PRICE ${{pd.currentPrice}} </div>
                    <div class="freeze-price sell-price" ng-if="pd.freezingItem">SELLING PRICE ${{pd.freezePrice}} </div>
                </div>
                <div ng-if="pd.productdetails.p_is_frozen == 'N' && pd.productdetails.p_is_sold=='N'">
                    <button ng-if="!pd.onLiveSale" class="button button-small prod-buynow" ng-click="pd.addToCart(pd.productdetails.p_ID)"><span class="ion-ios-cart"></span> BUY NOW </button>
                    <button ng-if="!pd.onLiveSale" class="button button-small prod-tag" ng-click="pd.submitPresetValue()">
                        <span class="ion-ios-pricetag"></span>{{pd.tagcountaccess ?'We Will Remind You':'Remind Me'}} 
                    </button>
                    <button ng-if="pd.onLiveSale" ng-click="pd.confirmFreeze()" class="button button-small freze-prod"><i class="ion-ios-stopwatch-outline"></i> FREEZE IT NOW</button>
                </div>
                <div class="sold-label" ng-if="pd.productdetails.p_is_frozen == 'Y' || pd.productdetails.p_is_sold=='Y'">
                    SOLD
                </div>
            </div>
        </div>
        <div class="row xtra-border" ng-if="pd.productdetails.p_condition!=''"><div class="col"><strong>Condition</strong></div><div class="col">{{pd.productdetails.p_condition}}</div></div> 
        <div class="row xtra-border" ng-if="pd.productdetails.p_size!=''"><div class="col"><strong>Size</strong></div><div class="col">{{pd.productdetails.p_size}}</div></div> 
        <div class="row xtra-border" ng-if="pd.productdetails.p_brand!=''"><div class="col"><strong>Brand</strong></div><div class="col">{{pd.productdetails.p_brand}}</div></div>
        <div class="row responsive-sm prod-des">
            <span ng-repeat="entry in pd.data track by $index" slidetoggle="entry" sellerid="{{pd.productdetails.p_uid}}"></span>
        </div>
        <div class="row"> <div class="col">&nbsp;</div></div>
        <div class="row">
          <div class="col">
            <div class="buyer-protection">
              Buyers Protection: In case of any dispute buyers can directly contact the seller to resolve the issue. If the issue cannot be resolved contact iBuySell support and our support team will assist find a resolution
            </div>
          </div>
        </div>
        <div class="row responsive-sm">
            <div ng-if="!pd.onLiveSale && pd.relatedProduct.length != 0" class="col prod-title related">Related Items</div>
            <div ng-if="pd.onLiveSale && pd.upcoming.length > 0" class="col prod-title related">Upcoming Items</div>
        </div>
        <div ng-if="!pd.onLiveSale" ng-repeat="prod in pd.relatedProduct track by $index">
            <div class="row" ng-if="$even">
                <div class="col col-50 related-pro-div">
                    <a href="#/app/productdetail/{{pd.relatedProduct[$index].p_ID}}">
                        <span><i class="ion-pin"></i></span>
                        <img onerror="this.src='img/product-no-img.png'" ng-src="{{pd.relatedProduct[$index].img_url|imagecheck}}">
                    </a>
                </div>
                <div class="col col-50 related-pro-div" ng-if="pd.relatedProduct[$index + 1].p_ID">
                    <a href="#/app/productdetail/{{pd.relatedProduct[$index + 1].p_ID}}">
                        <span><i class="ion-pin"></i></span>
                        <img onerror="this.src='img/product-no-img.png'" ng-src="{{pd.relatedProduct[$index + 1].img_url|imagecheck}}">
                    </a>
                </div>
            </div>
        </div>
        <div ng-if="pd.onLiveSale" ng-repeat="prod in pd.upcoming track by $index | limitTo:6">
            <div class="row" ng-if="$even">
                <div class="col col-50 related-pro-div">
                    <a href="#/app/productdetail/{{pd.upcoming[$index].p_ID}}">
                        <span><i class="ion-pin"></i></span>
                        <img onerror="this.src='img/product-no-img.png'" ng-src="{{pd.upcoming[$index].img_url|imagecheck}}">
                    </a>
                </div>
                <div class="col col-50 related-pro-div" ng-if="pd.upcoming[$index + 1].p_ID">
                    <a href="#/app/productdetail/{{pd.upcoming[$index + 1].p_ID}}">
                        <span><i class="ion-pin"></i></span>
                        <img onerror="this.src='img/product-no-img.png'" ng-src="{{pd.upcoming[$index + 1].img_url|imagecheck}}">
                    </a>
                </div>
            </div>
        </div>
      </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>
