<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content has-bouncing="false">
        <div class="category-list">
            <div class="live-cat-head">
                <a href="#/app/productlist/{{list.parent_category_id}}" ng-if="list.parent_category_id">
                    {{list.parent_category}}
                </a> 
              <span ng-if="list.parent_category_id" class="rquo"> &raquo; </span> {{list.category}}
            </div>
            <div ng-repeat="list1 in list.list track by $index">
                <div class="row" ng-if="$even">
                    <div class="col col-50 swiper-slide slider-element"  ng-if="list.list[$index].p_selling_price">
                        <div class="slider-element-img">
                            <div class="pro-img-wrap">
                                <a href="#/app/productdetail/{{list.list[$index].p_ID}}">
                                    <img onerror="this.src='img/product-no-img.png'" ng-src="{{list.list[$index].thumbimage|imagecheck}}">
                                </a>
                            </div>
                        </div>
                        <div class="slider-element-content">
                            <p class="pro-title">
                                <a href="#/app/productdetail/{{list.list[$index].p_ID}}">  {{list.list[$index].p_title}}</a>
                            </p>
                            <p class="pro-price"><strike>${{list.list[$index].p_max_selling_price}}</strike> ${{list.list[$index].p_selling_price}}</p>
                            <div class="row buy-cout-wrap">
                                <div class="col">
                                    <div class="user-view">
                                        <i class="ion-eye"></i>{{list.list[$index].online_viewer}}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="user-view">
                                        <button class="button icon-left counterpreset" userids="{{list.list[$index].p_preset_userid}}" productid="{{list.list[$index].p_ID}}" counter="{{list.list[$index].p_preset_counter}}" managepreset></button>
                                    </div>
                                </div>
                                <div class="col">
                                    <button class="button icon-left ion-ios-cart" productId="{{list.list[$index].p_ID}}" price="{{list.list[$index].p_selling_price}}" productTitle="{{list.list[$index].p_title}}" add-to-cart></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-50 swiper-slide slider-element" href="#/app/productdetail/{{list.list[$index + 1].p_ID}}" ng-if="list.list[$index + 1]">
                        <div class="slider-element-img">
                            <div class="pro-img-wrap">
                                <a href="#/app/productdetail/{{list.list[$index + 1].p_ID}}">
                                    <img onerror="this.src='img/product-no-img.png'"  ng-src="{{list.list[$index + 1].thumbimage|imagecheck}}">
                                </a>
                            </div>
                        </div>
                        <div class="slider-element-content">
                            <p class="pro-title">
                                <a href="#/app/productdetail/{{list.list[$index + 1].p_ID}}"> {{list.list[$index + 1].p_title}}</a>
                            </p>
                            <p class="pro-price"><strike>${{list.list[$index +1].p_max_selling_price}}</strike> ${{list.list[$index + 1].p_selling_price}}</p>
                            <div class="row buy-cout-wrap">
                                <div class="col">
                                    <div class="user-view">
                                        <div class="user-view">
                                        <i class="ion-eye"></i>{{list.list[$index + 1].online_viewer}}
                                    </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="user-view">
                                        <button class="button icon-left counterpreset" userids="{{list.list[$index+1].p_preset_userid}}" productid="{{list.list[$index+1].p_ID}}" counter="{{list.list[$index+1].p_preset_counter}}" managepreset></button>
                                    </div>
                                </div>
                                <div class="col">
                                    <button class="button icon-left ion-ios-cart" productId="{{list.list[$index + 1].p_ID}}" price="{{list.list[$index + 1].p_selling_price}}" productTitle="{{list.list[$index + 1].p_title}}" add-to-cart></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="no-order-found-box" ng-if="list.list.length == 0">
                <h2> No Product found in this category.</h2>
            </div>
        </div>
        <ion-infinite-scroll 
            ng-if="list.canWeLoadMoreContent()"
            on-infinite="list.populateList()"  
            distance="1%">
        </ion-infinite-scroll>
        <!--<div list-product productlists="list.totalList"></div>-->
    </ion-content>
    <account-footer></account-footer>
</ion-view>
