<ion-view hide-back-button="true" show-nav-bar="true">

    <!--    <ion-header-bar class="bar-subheader item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input ion-autocomplete type="search" placeholder="Search" class="ion-autocomplete"  ng-model="sc.search" items-method="sc.callbackMethod(query)" max-selected-items="1"/>
            </label>
            <button class="button button-clear">
                Cancel
            </button>      
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <li class="item" ng-repeat="airline in sc.lists">{{airline.name}}</li>
            </div>
        </ion-content>-->

    <ion-content has-bouncing="false">
        <div class="item item-input-inset serch-bar">
            <label class="item-input-wrapper">
                <input type="text" ng-keyup="sc.callbackMethod()" ng-model="sc.keyword">

            </label>
            <button class="button button-small btn-cls" ng-click="sc.setkeyword(sc.keyword)">
                <i class="icon icon-search placeholder-icon" ></i>
            </button>
        </div>
        <div class="list auto-com">
            <li class="item" ng-repeat="key in sc.dropdownlists track by $index" ng-click="sc.setkeyword(key);"><span class="icon icon-search"></span> {{key}}</li>
        </div>
        <div class="category-list">
            <div ng-repeat="list1 in sc.list track by $index">
                <div class="row" ng-if="$even">
                    <div class="col col-50 swiper-slide slider-element"  ng-if="sc.list[$index].p_selling_price">
                        <div class="slider-element-img">
                            <div class="pro-img-wrap">
                                <a href="#/app/productdetail/{{sc.list[$index].p_ID}}">
                                    <img  ng-src="{{sc.list[$index].img_url[0]| imagecheck}}" onerror="this.src='img/product-no-img.png'">
                                </a>
                            </div>
                        </div>
                        <div class="slider-element-content">
                            <p class="pro-title">
                                <a href="#/app/productdetail/{{sc.list[$index].p_ID}}"> {{sc.list[$index].p_title}}</a>
                            </p>
                            <p class="pro-price"><strike>${{sc.list[$index].p_max_selling_price}}</strike> ${{sc.list[$index].p_selling_price}}</p>
                            <div class="row buy-cout-wrap">
                                <div class="col">
                                    <div class="user-view">
                                        <button class="button icon-left counterpreset" userids="{{sc.list[$index].p_preset_userid}}" productid="{{sc.list[$index].p_ID}}" counter="{{sc.list[$index].p_preset_counter}}" managepreset></button>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="user-view">
                                        <i class="ion-eye"></i>{{sc.list[$index].online_viewer}}
                                    </div>
                                </div>
                                <div class="col">
                                  <button class="button icon-left ion-ios-cart" productId="{{sc.list[$index].p_ID}}" price="{{sc.list[$index].p_selling_price}}" productTitle="{{sc.list[$index].p_title}}" add-to-cart></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-50 swiper-slide slider-element"  ng-if="sc.list[$index + 1]">
                        <div class="slider-element-img">
                            <div class="pro-img-wrap">
                                <a href="#/app/productdetail/{{sc.list[$index + 1].p_ID}}"><img ng-src="{{sc.list[$index + 1].img_url[0]| imagecheck}}" onerror="this.src='img/product-no-img.png'"></a>
                            </div>
                        </div>
                        <div class="slider-element-content">
                            <p class="pro-title">
                               <a href="#/app/productdetail/{{sc.list[$index + 1].p_ID}}"> {{sc.list[$index + 1].p_title}}</a>
                            </p>
                            <p class="pro-price"><strike>${{sc.list[$index+1].p_max_selling_price}}</strike> ${{sc.list[$index + 1].p_selling_price}}</p>
                            <div class="row buy-cout-wrap">
                                <div class="col">
                                    <div class="user-view">
                                        <button class="button icon-left counterpreset" userids="{{sc.list[$index+1].p_preset_userid}}" productid="{{sc.list[$index+1].p_ID}}" counter="{{sc.list[$index+1].p_preset_counter}}" managepreset></button>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="user-view">
                                        <i class="ion-eye"></i>{{sc.list[$index + 1].online_viewer}}
                                    </div>
                                </div>
                                <div class="col">
                                    <button class="button icon-left ion-ios-cart" productId="{{sc.list[$index + 1].p_ID}}" price="{{sc.list[$index + 1].p_selling_price}}" productTitle="{{sc.list[$index + 1].p_title}}" add-to-cart></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="sc.list.length == 0 && !sc.searchpage">
                <div class="row">
                    <div class="col">
                        No Search Result found.
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll 
            ng-if="sc.canWeLoadMoreContent()"
            on-infinite="sc.populateList()"  
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
    <account-footer tab="search"></account-footer>
</ion-view>
