<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content has-bouncing="false">
        <div class="category-list">
            <div class="live-cat-head">
                <span>Reminder List</span>
            </div> 
            <div class="list tag-list">
                <div ng-repeat="product in tl.tagList track by $index">
                    <div class="row" ng-if="$even">
                        <div class="col col-50 swiper-slide slider-element"  >
                            <div class="slider-element-img">
                                <div class="cart-item-delete" ng-click="tl.removeReminder(tl.tagList[$index].p_ID)">
                                    <i class="ion-ios-close-outline"></i>
                                </div>
                                <div class="pro-img-wrap">
                                    <a href="#/app/productdetail/{{tl.tagList[$index].p_ID}}">
                                        <img onerror="this.src='img/product-no-img.png'" ng-src="{{tl.tagList[$index].img_url|imagecheck}}" my-redirection="#/app/productdetail/{{tl.tagList[$index].p_ID}}"/>
                                    </a>
                                </div>
                            </div>
                            <div class="slider-element-content">
                                <p class="pro-title">
                                    <a href="#/app/productdetail/{{tl.tagList[$index].p_ID}}">{{tl.tagList[$index].p_title}}</a>
                                </p>
                                <p class="pro-price">${{tl.tagList[$index].p_selling_price}}</p>
                            </div>
                        </div>
                        <div class="col col-50 swiper-slide slider-element"   ng-if="tl.tagList[$index + 1].p_ID">
                            <div class="slider-element-img">
                                <div class="cart-item-delete" ng-click="tl.removeReminder(tl.tagList[$index + 1].p_ID)">
                                    <i class="ion-ios-close-outline"></i>
                                </div>
                                <div class="pro-img-wrap">
                                    <a href="#/app/productdetail/{{tl.tagList[$index + 1].p_ID}}">
                                        <img onerror="this.src='img/product-no-img.png'" ng-src="{{tl.tagList[$index + 1].img_url|imagecheck}}" my-redirection="#/app/productdetail/{{tl.tagList[$index + 1].p_ID}}"/>
                                    </a>
                                </div>
                            </div>
                            <div class="slider-element-content">
                                <p class="pro-title">
                                    <a href="#/app/productdetail/{{tl.tagList[$index + 1].p_ID}}">{{tl.tagList[$index + 1].p_title}}</a>
                                </p>
                                <p class="pro-price">${{tl.tagList[$index + 1].p_selling_price}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="no-order-found-box" ng-if="tl.tagList.length == 0">
                    <h2>No list Found</h2>
                </div>
            </div> 
        </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>
