<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content has-bouncing="false">
      <div class="category-list">
        <div class="row responsive-sm uppro-top-div">
            <div class="live-cat-head">Post an item</div>
        </div>
        <!--        <div class="uppro-top"><span class="icon icon-post-a-product"></span> POST AN ITEM</div>-->
        <div class="upload-img-wrap">
            <h2>Upload item image</h2>
            <div class="row">
                <div class="col text-center">
                    <span class="icon icon-camera" ng-click="up.imageAction('camera');"></span>
                </div>
                <div class="col text-center">
                    <span class="icon ion-image" ng-click="up.imageAction('gallery');"></span>
                </div>
            </div>
        </div>

        <div class="img-listing" ng-if="up.productimg.length > 0">
            <div class="row">
                <div class="col text-center up-img">
                    <img onerror="this.src='img/upload-no-img.png'"  ng-src="{{up.first}}" alt="" />
                    <span ng-click="up.removeImage(0);" class="ion-ios-trash" ng-if="up.first!='img/upload-no-img.png'"></span>
                </div>
                <div class="col text-center up-img">
                    <img onerror="this.src='img/upload-no-img.png'" ng-src="{{up.second}}" alt="" />
                    <span ng-click="up.removeImage(1);" class="ion-ios-trash" ng-if="up.second!='img/upload-no-img.png'"></span>
                </div>
            </div>
            <div class="row">
                <div class="col text-center up-img">
                    <img onerror="this.src='img/upload-no-img.png'" ng-src="{{up.third}}" alt="" />
                    <span ng-click="up.removeImage(2);" class="ion-ios-trash" ng-if="up.third!='img/upload-no-img.png'"></span>
                </div>
                <div class="col text-center up-img">
                    <img onerror="this.src='img/upload-no-img.png'" ng-src="{{up.forth}}" alt="" />
                    <span ng-click="up.removeImage(3);" class="ion-ios-trash" ng-if="up.forth!='img/upload-no-img.png'"></span>
                </div>
            </div>
        </div>
        <div class="uppro-top-des"> 
            <div class="item item-input item-div" ng-click="up.groupClick('title')">
                <i ng-class="(up.group.title==true)?'ion-ios-minus-outline':'ion-ios-plus-outline'"></i><span>Add Title</span>
            </div>
            <div class="item item-input input-div" ng-if="up.group.title">
                <input type="text" ng-model="up.productData.p_title">
            </div>
            <div class="item item-input item-div" ng-click="up.groupClick('desctiption')">
                <i ng-class="(up.group.desctiption==true)?'ion-ios-minus-outline':'ion-ios-plus-outline'"></i><span>Description</span>
            </div>
            <div class="item item-input input-div" ng-if="up.group.desctiption">
                <textarea ng-model="up.productData.p_description"></textarea>
            </div>
            <!--            <div class="item item-input item-div" ng-click="up.groupClick('image')">
                            <i ng-class="(up.group.image==true)?'ion-minus':'ion-plus'"></i><span>UPLOAD ITEM IMAGE</span>
                        </div>
                        <div class="item input-div" ng-if="up.group.image">
                            <button class="button button-small shipping-method" ng-click="up.imageClick()">UPLOAD PHOTO</button>
                                            <input type="file" ng-model="up.productData.productimg">
                                            <button class="button green-small-btn" ng-click="up.imageClick()">
                                                take picture
                                            </button>
                        </div>-->
        </div>
        <div class="row">
            <div class="list prodcon">
                <div class="col">Condition:</div>
                <div class="col col-70">
                    <select ng-model="up.productData.p_condition" ng-options="key as value for (key , value) in up.procondition">
                        <option style="display:none" value="">Select Condition</option>
                    </select>
                    <!--                <ion-radio ng-model="up.productData.p_condition" ng-value="'new'">NEW</ion-radio>
                                    <ion-radio ng-model="up.productData.p_condition" ng-value="'used'">USED</ion-radio>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">Item</div>
            <div class="col col-80">
                <div class="spl-margin-bot">
                    <select ng-model="up.productData.category">
                        <option value="">Select Category</option>
                        <option ng-repeat="item in up.categories" value="{{item}}">{{item}}</option>
                    </select>
                </div>
                <div>
                    <select ng-model="up.productData.p_cat_category_id" ng-options="key as value for (key , value) in up.categoryarr[up.productData.category]">
                        <option style="display:none" value="">Select a Sub-Category</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <select ng-model="up.productData.p_size" ng-options="value for value in up.size[up.productData.p_cat_category_id]">
                    <option style="display:none" value="">Select Size</option>
                </select>
            </div>
            <div class="col" ng-init="up.show_brand=false">
                <!-- <select ng-model="up.productData.p_brand" ng-options="value for value in up.brands">
                    <option style="display:none" value="">Select Brand</option>
                </select> -->
                <input type="text" placeholder="Select Brand" class="enter-sale-price" ng-model="up.productData.p_brand" ng-keyup="up.checkBrandList()">
                <div class="brand-list-wrap" ng-if="up.show_brand">
                    <ion-scroll direction="y" has-bouncing="false">
                        <ul class="list">
                            <li ng-click="up.chooseBrand(val)" class="item" ng-repeat="val in up.brands | filter:up.productData.p_brand track by $index">
                                {{val}}
                            </li>
                        </ul>
                    </ion-scroll>
                </div>
            </div>
        </div>
        <div class="row" ng-if="up.productData.p_brand">
            <div class="list prodcon">
                <div class="col">Proof of authenticity?</div>
                <div class="col col-70" ng-init="up.productData.p_brand_authnticity=0">
                             <ion-radio ng-model="up.productData.p_brand_authnticity" ng-value="1">Yes</ion-radio>
                             <ion-radio ng-model="up.productData.p_brand_authnticity" ng-value="0">No</ion-radio>
                </div>
            </div>
        </div>
        <div class="row responsive-sm" ng-if="up.productData.p_brand_authnticity">
            <div class="col below-textarea">Please enter a proof of authenticity <i class="ion-information-circled" ng-click="up.showInfo();"></i></div>
            <div class="col textarea-div">
                <input type="text" placeholder="Enter Authenticity Details" class="enter-sale-price" ng-model="up.productData.p_brand_model_number">
            </div>
        </div>
        <div class="row">
            <div class="col">
                 <input type="text" placeholder="SKU Code" class="enter-sale-price" ng-model="up.productData.p_sku">
            </div>
        </div>
        <!--        <div class="row">
                    <div class="col">
                        <input type="date" placeholder="Live Sale Date" class="enter-sale-price" ng-model="up.productData.liveSaleDate">
                    </div>
                    <div class="col">
                        <ionic-timepicker input-obj="up.timePickerObject">
                            <label class="timecls">{{up.productData.liveSaleTime && up.productData.liveSaleTime || 'Live Sale Time' }}</label>
                        </ionic-timepicker>
                    </div>
                </div>-->
        <div class="row">
            <div class="col">
                <input type="number" placeholder="Max sale price" class="enter-sale-price" ng-model="up.productData.p_max_selling_price">
            </div><div class="col">
                <input type="number" placeholder="Enter sale price" class="enter-sale-price" ng-model="up.productData.p_selling_price">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="number" placeholder="Min sale price" class="enter-sale-price" ng-model="up.productData.p_min_selling_price">
            </div>
            <div class="col">
                <select ng-model="up.productData.p_shipping_method" ng-options="item.code as item.name for item in up.shipMethods">
                    <option value="">Shipping</option>
                </select>
            </div>
        </div>
        <div class="row responsive-sm">
            <div class="col below-textarea">Weight (In Ounce)</div>
            <div class="col textarea-div">
                <input type="number" placeholder="Enter Weight" class="enter-sale-price" ng-model="up.productData.p_weight">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button green-small-btn" style="margin-bottom: 60px;" ng-click="up.uploadProduct(up.productData);">
                    Post Product
                </button>
            </div>
        </div>
      </div>
    </ion-content>
    <account-footer tab="uploadproduct"></account-footer>
</ion-view>
