<div class="tabs tabs-icon-top tabs-striped tabs-top myaccount-top">
    <a class="tab-item" href="#/app/myaccount" ng-class="{active:tab === 'account'}">
        <span class="icon icon-myaccount"></span>
        MY ACCOUNT
    </a>
    <a class="tab-item" href="#/app/mysetting" ng-class="{active:tab === 'setting'}">
        <span class="icon icon-setting"></span>
        SETTINGS
    </a>
    <a class="tab-item" href="#/app/livesalelist" ng-class="{active:tab === 'livesale'}">
        <span class="icon icon-live-sale"></span>
        LIVE SALE
    </a>
<!--    <a class="tab-item" href="#/app/search" ng-class="{active:tab === 'search'}">
        <span class="icon icon-search"></span>
        SEARCH
    </a>-->
</div>