<div class="bar bar-footer tabs tabs-icon-button tabs-icon-top footer-div">
    <a class="tab-item" href="#/app/search" ng-class="{active:tab === 'search'}">
        <span class="icon icon-search"></span>Search
    </a>
    <a class="tab-item" href="#/app/livesalelist" ng-class="{active:tab === 'livesale'}">
        <span class="icon icon-live-sale"></span>Live Sale
    </a>
<!--    <a class="tab-item" href="#/app/taglist" ng-class="{active:tab === 'taglist'}">
        <span class="icon icon-tag"></span>
    </a>-->
    <a class="tab-item" href="#/app/categoryall" ng-class="{active:tab === 'catlist'}">
        <span class="icon ion-android-apps"></span>Browse
    </a>
    <a class="tab-item" href="#/app/uploadproduct" ng-class="{active:tab === 'uploadproduct'}" >
        <span class="icon icon icon-camera"></span>Sell
<!--        ion-android-upload-->
    </a> 
    <a class="tab-item" ng-click="openFooterMenu();">
        <span class="icon ion-more"></span>More
    </a>
<!--    <a class="tab-item" href="#/app/payment" ng-class="{active:tab === 'payment'}" >
        <span class="icon icon-payment"></span>
    </a>-->
</div>