<div class="category">
    <div class="live-cat-head">{{category}}   <a href="#/app/productlist/{{sliders[0].parent_category_id}}">view all</a>
    </div>
    <div class="live-cat-slider">
        <ks-swiper-container initial-slide="0" speed="9000" loop="false" show-nav-buttons="false" slides-per-view="2" space-between="0" pagination-clickable="false"  on-ready="ls.onReadySwiper(swiper)">
            <ks-swiper-slide class="swiper-slide" ng-repeat="(key,value) in sliders">
                <div class="slider-element" >
                    <div class="slider-element-img">
                        <span ng-if="type == 'live'">LIVE SALE</span>
                        <div class="pro-img-wrap">
                            <a ng-href="#/app/productdetail/{{value.p_ID}}">
                                <img onerror="this.src='img/product-no-img.png'" ng-src="{{value.img_url[0]|imagecheck}}">
                            </a>
                        </div>
                    </div>
                    <div class="slider-element-content">
                        <p class="pro-title">
                            <a ng-href="#/app/productdetail/{{value.p_ID}}">
                                {{value.p_title| limitTo: 15}}<span ng-if="value.p_title.length > 15">...</span>
                            </a>
                        </p>
                        <p class="pro-price"><strike>${{value.p_max_selling_price}}</strike> ${{value.p_selling_price}}</p>
                        <div class="row buy-cout-wrap">
                            <div class="col">
                                <div class="user-view">
                                    <i class="ion-eye"></i>{{value.online_viewer}}
                                </div>
                            </div>
                            <div class="col">
                                <div class="user-view">
                                    <button class="button icon-left counterpreset" userids="{{value.p_preset_userid}}" productid="{{value.p_ID}}" counter="{{value.p_preset_counter}}" managepreset></button>
                                </div>
                            </div>
                            <div class="col">
                                <button class="button icon-left ion-ios-cart" productId="{{value.p_ID}}" price="{{value.p_selling_price}}" productTitle="{{value.p_title}}" add-to-cart></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ks-swiper-slide>			
        </ks-swiper-container>
    </div>          
</div>