xsxsax<div ng-repeat="list1 in list track by $index">
    <div class="row" ng-if="$even">
        <a class="col col-50 product-grid" href="#/app/productdetail/{{list[$index].p_ID}}">
            <div class="product-grid-img">
                <img onerror="this.src='img/product-no-img.png'" src="{{list[$index].img_url[0]|imagecheck}}">
            </div>
            <div class="product-grid-title">{{list[$index].p_title}}</div>
            <div class="product-grid-cond">Condition :{{list[$index].p_condition}}</div>
            <div class="product-grid-price">Price : {{list[$index].p_selling_price}}</div>
        </a>
        <a class="col col-50 product-grid" ng-if="list[$index + 1]" href="#/app/productdetail/{{list[$index + 1].p_ID}}">
            <div class="product-grid-img">
                <img onerror="this.src='img/product-no-img.png'" src="{{list[$index].img_url[0]|imagecheck}}">
            </div>
            <div class="product-grid-title">{{list[$index + 1].p_title}}</div>
            <div class="product-grid-cond">Condition :{{list[$index + 1].p_condition}}</div>
            <div class="product-grid-price">Price : {{list[$index + 1].p_selling_price}}</div>
        </a>
    </div>
</div>
<ion-infinite-scroll 
    ng-if="canWeLoadMoreContent()"
    on-infinite="populateList()"  
    distance="1%">
</ion-infinite-scroll>