<div class="category">
    <div class="live-cat-head">
        <span>Category:</span> Electronics  <i class="ion-chevron-right"></i>
    </div>
    <div class="live-cat-slider">
        <ks-swiper-container initial-slide="0" speed="9000" loop="true" show-nav-buttons="false" slides-per-view="2" space-between="5" pagination-clickable="false"  on-ready="ls.onReadySwiper(swiper)">
            <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1, 2, 3, 4, 5, 6, 7, 8]">
                <a class="slider-element" ng-href="#/app/{{link}}">
                    <div class="slider-element-img">
                        <span ng-if="type=='live'">LIVE SALE</span>
                        <img src="img/home.png">
                    </div>
                    <div class="slider-element-content">
                        <p class="pro-title">Gritstones Full Sleeve Solid Men's Sweatshirt</p>
                        <p class="pro-price">$500</p>
                        <button class="button icon-left ion-ios-cart">BUY NOW</button>
                    </div>
                </a>
            </ks-swiper-slide>			
        </ks-swiper-container>
    </div>          
</div>