<p class="col prod-chahead" ng-click="clicked($event)">{{entry.title}} <i class="ion-chevron-down"></i></p>
<div class="col prod-chadet">
    <span class="prod-dec" ng-bind-html="entry.description"></span>
    <span class="cont-seller-btn-wrap" ng-if="entry.title == 'Seller Info' && senderuserid!=userid">
         <button ng-click="openMessageModal();"><i class="ion-android-mail"></i> Message to Seller</button>
    </span>
</div>