<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content class="screen-content" has-bouncing="false">
        <div class="category-list">
            <div class="live-cat-head">{{cms.cmsData.cms_title}}</div>
            <div class="row responsive-sm user-dtls-wrap">
                <div class="" ng-bind-html="cms.cmsData.cms_content"></div>
            </div> 
        </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>