<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content class="screen-content" has-bouncing="false">
      <div class="category-list">
        <div class="live-cat-head">
                <span>FAQ</span>
            </div>
        <ul class="list faq-list">
            <li class="item" ng-repeat="ele in faq.faqList" ng-click="faq.openFaqModal(ele.fa_cat_title);" >
                {{ele.fa_cat_title}} <i class="ion-chevron-down"></i>
            </li>
        </ul>
      </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>