<ion-modal-view>
    <ion-header-bar class="bar bar-header email-modal-top">
        <h1 class="title">{{faq.index}}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="faq.closeFaqModal()"><i class="ion-close-circled close-btn"></i></button>
        </div>
    </ion-header-bar>
    <ion-content delegate-handle="faqModalContent">
      <div>
        <div class="category-list" ng-repeat="eleme in faq.listdetailsfaq">
            <div class="live-cat-head faq-head">
                {{eleme.faq_title}}
            </div>
            <div class="item item-text-wrap faq-txt-wrap" ng-bind-html="eleme.faq_content"></div>
        </div>
        <div class="category-list" ng-if="faq.listdetailsfaq.length == 0">
            <div class="no-order-found-box">
                No question and answer found for this category.
            </div>
        </div>
      </div>
    </ion-content>
</ion-modal-view>