<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content class="screen-content" has-bouncing="false">
        <div class="category-list">
            <div class="live-cat-head">
                Welcome to Our Help Center
            </div>
            <div class="row responsive-sm myaccount-button">
<!--                <a class="button button-block button-outline button-line" href="#/app/tutorial">New to iBuySell</a>-->
                <a class="button button-block button-fill" href="#/app/faq">FAQs</a>
                <a class="button button-block button-outline button-line" href="#/app/customersupport">Contact Us</a>
                <a class="button button-block button-fill" href="#/app/cms/terms-of-service">Terms of Service</a>
                <a class="button button-block button-outline button-line" href="#/app/cms/privacy-policy">Privacy Policy</a>
            </div>
        </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>