<ion-view hide-nav-bar="true">
    <ion-content has-bouncing="false" class="home-div" scroll="false">
        <ion-slide-box does-continue="true" delegate-handle="slider" ng-init="hm.slides=[]">
            <ion-slide ng-repeat="slide in hm.slides">
                <div class="box pink"><img ng-src="{{slide}}"/></div>
            </ion-slide>
        </ion-slide-box>
        <div class="row home-button-div">
            <div class="col">
                <a class="signup button button-light" href="#/app/registration">
                    Sign Up
                </a>
            </div>
            <div class="col">
                <a class=" signin button button-light" href="#/app/login">
                    Sign In
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>