<ion-modal-view>
    <ion-header-bar class="bar bar-header email-modal-top">
        <h1 class="title">Credit Summary</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="sa.closeCreditModal()"><i class="ion-close-circled close-btn"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="row credit-head">
            <div class="col col-33">Statement</div>
            <div class="col">Date</div>
            <div class="col">Amount</div>
        </div>
        <div class="row" ng-repeat="element in sa.accountsummary" ng-class="(element.as_amount > 0)?'credit-credit':'credit-dedit'">
            <div class="col col-33">{{element.as_statement}}</div>
            <div class="col">{{element.as_state_date*1000 | date:"MM/dd/yyyy"}}</div>
            <div class="col">${{element.as_amount|numbercheck}}</div>
        </div>
        <div class="row" ng-if="sa.accountsummary.length <= 0">
            <div class="col">No data found</div>
        </div>
        <div class="row credit-total">
            <div class="col col-33">&nbsp</div>
            <div class="col">Total</div>
            <div class="col">${{sa.accountBalance}}</div>
        </div>
    </ion-content>
</ion-modal-view>