<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content class="screen-content" has-bouncing="false">
      <div class="category-list">
        <div class="live-cat-head">
        <span>Customer Support</span>
      </div> 
        <div class="list msg-to-seller-wrap">
            <div class="customer-support-wrap">
                <select ng-model="support.frm.issue">
                    <option hidden disabled="disabled" value="">Select Issue</option>
                    <option value="Account Related">Account Related</option>
                    <option value="Payment related">Payment related</option>
                    <option value="Buyer Issue">Buyer</option>
                    <option value="Seller Issue">Seller</option>
                    <option value="Listing related">Listing related</option>
                    <option value="Shipping Related">Shipping Related</option>
                </select>
            </div>
            <label class="item item-input item-floating-label">
                <span class="input-label">Title</span>
                <input type="text" ng-model="support.frm.subject" placeholder="Title">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Message</span>
                <textarea ng-model="support.frm.message" placeholder="Message"></textarea>
            </label>
        </div>
        <div class="row">
            <div class="col"><button class="button button-block button-fill send-msg-btn" ng-click="support.submitMessage()">Send Message <i class="ion-paper-airplane"></i></button></div>
        </div>
      </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>