<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content has-bouncing="false">
        <div class="category-list">
            <div class="live-cat-head">
                <span>Inbox</span>
            </div> 
            <div class="list notification-div">
                <a class="item item-icon-left notification-list" ng-repeat="msg in inbox.message" href="#/app/messagedetails/{{msg.msg_thread_id}}">
                    <h2>{{msg.msg_subject}}</h2>
                    <div class="inbox-div">
                        <span>Sender: {{msg.sender}}</span>
                        <span>Posted: {{msg.msg_posted * 1000|date:"MM/dd/yyyy 'at' h:mma" }}</span>
                    </div>
                </a>
            </div>
            <div class="no-order-found-box" ng-if="inbox.message.length <= 0">
                <h2>No Message Found</h2>
            </div>
        </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>
