<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content has-bouncing="false">
        <div class="category-list">
            <div class="live-cat-head">
                <span>Message Details</span>
            </div> 
        </div>
        <div class="row " ng-repeat="ele in msg.inboxmessage" ng-class="(msg.UserId ==ele.msg_by_user)?'user-message-div':'my-message-div'">
            <div class="col" ng-class="(msg.UserId==ele.msg_by_user)?'':'col-75 user-message'">
               {{ele.usermeaage}}
              <p ng-if="ele.usermeaageTime!=''"> {{ ele.usermeaageTime*1000 | date:"MM/dd/yyyy 'at' h:mma"}}</p>
            </div>
            <div class="col" ng-class="(msg.UserId==ele.msg_by_user)?'col-75 my-message':''">
               {{ele.mymeaage}} 
               <p ng-if="ele.mymeaageTime!=''">{{ ele.mymeaageTime *1000 | date:"MM/dd/yyyy 'at' h:mma"}}</p>
            </div>
        </div>
        <div class="list list-inset msg-to-seller-wrap">
            <label class="item item-input ">
              <textarea ng-model="msg.message" placeholder="Type Message" style="min-height: 70px;"></textarea>
            </label>
        </div>
        <div class="row">
            <div class="col"><button class="button button-block button-fill send-msg-btn" ng-click="msg.submitMessage()">Send <i class="ion-paper-airplane"></i></button></div>
        </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>