<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content class="screen-content" has-bouncing="false">
        <account-top tab="account"></account-top>
        <div class="row responsive-sm user-dtls-wrap">
            <div class="col">
                <div class="myaccount-img">
                    <img ng-src="{{ma.logindata.user_img}}"><i class="ion-edit" ng-click="ma.uploadImage()"></i>
                </div>
                <div class="myaccount-tag">
                    <div class="myaccount-taglabel">
                        <span>Name</span>{{ma.logindata.name}}
                    </div> 
                    <div class="myaccount-taglabel">
                        <span>Username</span>{{ma.logindata.username}}
                    </div>
                    <div class="myaccount-taglabel">
                        <span>Email</span>{{ma.logindata.emailid}}
                    </div> 
                </div>
            </div>
        </div>
        <div class="row responsive-sm myaccount-button">
            <a class="button button-block button-outline button-line" href="#/app/categoryall">BROWSE ITEMS</a>
            <a class="button button-block button-fill" href="#/app/myaddress">MY ADDRESS</a>
            <a class="button button-block button-outline button-line" href="#/app/uploadproduct">POST AN ITEM</a>
            <a class="button button-block button-fill" href="#/app/mycloset/">MY CLOSET</a>
            <a class="button button-block button-outline button-line" href="#/app/myorder">MY ORDER</a>
            <a class="button button-block button-fill" href="#/app/shareapp">SHARE APP & MANAGE REFERRAL</a>
            <a class="button button-block button-outline button-line" href="#/app/subscription">SELLER ACCOUNT</a>
            <a class="button button-block button-fill button-line" href="javascript:void(0)" ng-click="ma.openLink('print-label')">GENERATE PRINT LABEL</a>
            <a class="button button-block button-outline button-line" href="javascript:void(0)" ng-click="ma.openLink('bulk-upload')">BULK UPLOAD</a>
            <a class="button button-block button-fill" ng-click="ma.logout()" style="margin-bottom: 60px;">LOGOUT</a>
        </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>