<ion-view hide-back-button="true" show-nav-bar="true" ng-init="ms.init()">
    <ion-content class="screen-content" has-bouncing="false">
        <account-top tab="setting"></account-top>
        <div class="row responsive-sm user-dtls-wrap">
            <div class="col">
                <div class="list list-inset myaccount-setting xtra-setting">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Full Name</span>
                        <input type="text" placeholder="Full Name" ng-model="ms.userdata.name">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">User Name (This will show in your profile)</span>
                        <input type="text" placeholder="User Name (This will show as store name)" ng-model="ms.userdata.username">
                    </label>               
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Phone No</span>
                        <input type="text" placeholder="Phone No" ng-model="ms.userdata.phone">
                    </label> 
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Date of birth</span>
                        <ionic-datepicker input-obj="ms.datepickerObject">
                            <input readonly type="text" placeholder="Date of birth" ng-model="ms.userdata.dob" required><span class="icon icon-calender"></span>
                        </ionic-datepicker>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Website URL</span>
                        <input type="text" placeholder="Website URL" ng-model="ms.userdata.website">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">About Me</span>
                        <textarea placeholder="About Me" ng-model="ms.userdata.bio" class="text-bio"></textarea>
                    </label>
                    <a class="button button-block button-fill setting-btn" ng-click="ms.updateProfile()">UPDATE PROFILE</a>
                    <a class="button button-block button-outline button-line setting-btn" ng-click="ms.openChangePasswordModal()" style="margin-bottom: 60px;">CHANGE PASSWORD</a>
                </div>
            </div>
        </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>