<ion-view hide-back-button="true" show-nav-bar="true">
  <ion-content class="screen-content" has-bouncing="false">
    <account-top tab="setting"></account-top>
    <div class="category-list">
      <div class="row responsive-sm user-dtls-wrap">
        <div class="">
          <div class="list myaccount-setting">
            <div id="shipping">
              <div class="live-cat-head">
                <span>Shipping Address</span>
              </div>
              <label class="item item-input item-floating-label">
                <span class="input-label">Full Name</span>
                <input type="text" placeholder="Full Name" ng-model="address.userdata.s_name">
              </label>                   
              <label class="item item-input item-floating-label">
                <span class="input-label">Address1</span>
                <input type="text" placeholder="Address1" ng-model="address.userdata.s_address1">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Address2</span>
                <input type="text" placeholder="Address2" ng-model="address.userdata.s_address2">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">City</span>
                <input type="text" placeholder="City" ng-model="address.userdata.s_city">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">State</span>
                <input type="text" placeholder="State" ng-model="address.userdata.s_state">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Country</span>
                <!-- <input type="text" placeholder="Country" ng-model="address.userdata.s_country"> -->
                <select ng-model="address.userdata.s_country" ng-options="key as value for (key , value) in address.countrylist">
                    <option hidden disabled="disabled" value="">Select Country</option>
                </select>
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Zip</span>
                <input type="text" placeholder="Zip" ng-model="address.userdata.s_zip">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Phone No.</span>
                <input type="text" placeholder="Phone No." ng-model="address.userdata.s_phone">
              </label> 
              <label class="item leave-style">Billing address is same:<input type="checkbox" ng-model="address.userdata.checkBoxValue"/></label>
            </div>

            <div ng-hide="address.userdata.checkBoxValue" id="billing">
              <h4>Billing Address</h4>
              <label class="item item-input item-floating-label">
                <span class="input-label">Full Name</span>
                <input type="text" placeholder="Full Name" ng-model="address.userdata.b_name">
              </label>                   
              <label class="item item-input item-floating-label">
                <span class="input-label">Address1</span>
                <input type="text" placeholder="Address1" ng-model="address.userdata.b_address1">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Address2</span>
                <input type="text" placeholder="Address2" ng-model="address.userdata.b_address2">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">City</span>
                <input type="text" placeholder="City" ng-model="address.userdata.b_city">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">State</span>
                <input type="text" placeholder="State" ng-model="address.userdata.b_state">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Country</span>
                <!-- <input type="text" placeholder="Country" ng-model="address.userdata.b_country"> -->
                <select ng-model="address.userdata.b_country" ng-options="key as value for (key , value) in address.countrylist">
                    <option hidden disabled="disabled" value="">Select Country</option>
                </select>
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Zip</span>
                <input type="text" placeholder="Zip" ng-model="address.userdata.b_zip">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Phone No.</span>
                <input type="text" placeholder="Phone No." ng-model="address.userdata.b_phone">
              </label> 
            </div>
            <a class="button button-block button-fill setting-btn" ng-click="address.updateAddress()">UPDATE PROFILE</a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <account-footer></account-footer>
</ion-view>