<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content has-bouncing="false">
        <div class="category-list">
            <div class="live-cat-head">
                {{closet.seller}} Details
            </div> 

            <div class="row closet-case" >
                <div class="col">
                    <strong>Seller Name</strong>
                </div>
                <div class="col">
                    {{closet.sellerDetails.username}}
                </div>
            </div>
            <div class="row closet-case" ng-if="closet.sellerDetails.bio != null">
                <div class="col">
                    <strong>Seller Description</strong>
                </div>
                <div class="col">
                    {{closet.sellerDetails.bio}}
                </div>
            </div>
            <div class="row closet-case" ng-if="closet.sellerDetails.website != null">
                <div class="col">
                    <strong>Seller Website</strong>
                </div>
                <div class="col">
                    {{closet.sellerDetails.website}}
                </div>
            </div>
            <div class="row closet-case" >
                <div class="col" ng-if="(closet.sellerDetails.seller_rating | showonlyrate) != ''">
                    <strong>Seller Rating</strong>
                </div>
                <div class="col" ng-bind-html="closet.sellerDetails.seller_rating | showonlyrate"></div>
            </div>
            <div class="row closet-case">
                <div class="col">
                    <a href="#/app/myfeedback/{{closet.sellerDetails.user_id}}" class="button button-small prod-buynow">Feedbacks</a>
                </div>
            </div>
            <div class="row">
                <div class="col live-cat-head">
                    Closet
                </div>
                <div class="col" ng-if="sellerFlag">
                    <select ng-model="closet.sortorder">
                        <option value="">Sort by</option>
                        <option value="+p_title">Title(A-Z)</option>
                        <option value="+cat_name">Category(A-Z)</option>
                    </select>
                </div>
            </div>  
            <div class="list cart-list closet-div">
                <div  data-ng-repeat="set  in closet.closets track by $index| orderBy:closet.sortorder">    
                    <div class="row" ng-if="$even">
                        <a class="col col-50 swiper-slide slider-element" href="#/app/productdetail/{{closet.closets[$index].p_ID}}">
                            <div class="slider-element-img">
                                <div class="pro-img-wrap closet-img">
                                    <img onerror="this.src='img/product-no-img.png'" ng-src="{{closet.closets[$index].img_url|imagecheck}}" class="img-responsive">
                                </div>
                            </div>
                            <div class="slider-element-content">
                                <p class="pro-title">
                                    {{closet.closets[$index].p_title}}
                                </p>
                                <p class="pro-category">{{closet.closets[$index].cat_name}}</p>
                                <p class="pro-price">${{closet.closets[$index].p_selling_price}}</p>
                            </div>
                        </a>

                        <a class="col col-50 swiper-slide slider-element" href="#/app/productdetail/{{closet.closets[$index + 1].p_ID}}" ng-if="closet.closets[$index + 1].p_selling_price">
                            <div class="slider-element-img">
                                <div class="pro-img-wrap">
                                    <img onerror="this.src='img/product-no-img.png'" ng-src="{{closet.closets[$index + 1].img_url|imagecheck}}" class="img-responsive"> 
                                </div>
                            </div>
                            <div class="slider-element-content">
                                <p class="pro-title">
                                    {{closet.closets[$index + 1].p_title}}
                                </p>
                                <p class="pro-category">{{closet.closets[$index + 1].cat_name}}</p>
                                <p class="pro-price">${{closet.closets[$index + 1].p_selling_price}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="no-order-found-box" ng-if="closet.closets.length <= 0">
                <h2>No Product Found</h2>
            </div>
        </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>
