<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content has-bouncing="false">
        <div class="category-list">
            <div class="live-cat-head">
                <span>{{feed.seller}} Feedback</span>  
                <a class="back-to-seller" href="#/app/mycloset/{{feed.user_id}}">Seller Closet</a>
            </div>
            <div class="list cart-list closet-div">
                <div class="item item-thumbnail-left cart-item closet-element" ng-repeat="feed  in feed.feedback| orderBy : 'feed.rate_time':reverse">
                    <img onerror="this.src='img/product-no-img.png'" ng-src="{{feed.img_url|imagecheck}}" class="img-responsive" my-redirection="#/app/productdetail/{{feed.rate_to_product}}"> 
                    <div class="cart-item-title feedback-cls">
                        <h2>{{feed.p_title}}</h2>
                        <p><b>Rating</b> <span ng-bind-html="feed.rate_given | showonlyrate"></span></p>
                        <p><b>Sender:</b> {{feed.sender}} </p>
                        <p><b>Comment:</b> {{feed.rate_comment}}</p>
                        <p><b>Date:</b>{{feed.rate_time * 1000| date:"medium"}}</p>
                    </div>
                </div>
                <div class="no-order-found-box" ng-if="feed.feedback.length <= 0">
                    <h2>No Feedback Found</h2>
                </div>
            </div>
        </div> 
    </ion-content>
    <account-footer></account-footer>
</ion-view>
