<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content has-bouncing="false">
        <div class="category-list">
            <div class="live-cat-head">
                <span>My Order</span>
            </div> 
          
        <div class="list myorder closet-div">
            <div class="item item-thumbnail-left myorder-item closet-element" ng-repeat="ele  in order.myOrder track by $index">
                <img ng-src="{{ele.order_item_img_urls}}" onerror="this.src='img/product-no-img.png'" class="img-responsive" my-redirection="#/app/productdetail/{{ele.order_item_ids}}">     
                <div class="cart-item-title">
                    <a href="#/app/productdetail/{{ele.order_item_ids}}"><h2>{{ele.order_item_names}}</h2></a>
                    <p>Seller Name: {{ele.username}}</p>
                    <p ng-bind-html="ele.rate_given | showrate"></p>
                    <p>Price: ${{ele.order_item_prices}}</p>
                    <p >
                      <button ng-click="order.openRatingModal($index);" class="rate-seller-btn" ng-if="ele.order_feedback_given == 'no'"><i class="ion-ios-star-outline"></i> Rate Seller</button>
                      <button ng-click="order.getshipcode(ele.order_track_code);" class="rate-seller-btn"><i class="ion-android-plane"></i>Tracking Code</button>
                    </p>
                </div>
            </div>
            <div class="no-order-found-box" ng-if="order.myOrder.length <= 0">
              <h2>No Order Found</h2>
            </div>
        </div>
          </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>
