<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content has-bouncing="false">
        <div class="list notification-div category-list">            
            <div class="item item-icon-left notification-list" data-ng-repeat="notifiaction  in notice.notifications">
                <h2>{{notifiaction.notification_details}}</h2>
                <div class="notifiaction_footer"><span ng-show="notifiaction.notification_create_time > 0">Posted: {{notifiaction.notification_create_time * 1000| date:"MM/dd/yyyy 'at' h:mma"}}</span><span></span></div>
            </div>
            <div class="no-order-found-box" ng-if="notice.notifications.length <= 0">
                <h2>No Notification Found</h2>
            </div>
        </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>
