<ion-modal-view>
    <ion-header-bar class="bar bar-header email-modal-top">
        <h1 class="title">Enter password</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="ms.closeChangePasswordModal()"><i class="ion-close-circled close-btn"></i></button>
        </div>
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <div class="category-list">
        <div class="list myaccount-setting">
            <label class="item item-input item-floating-label">
                <span class="input-label">Old Password</span>
                <input type="password" ng-model="ms.passdata.old_password" placeholder="Old Password">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">New Password</span>
                <input type="password" ng-model="ms.passdata.password" placeholder="New Password">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Confirm Password</span>
                <input type="password" ng-model="ms.passdata.con_password" placeholder="Confirm Password">
            </label>
            <label class="item item-input item-floating-label" ng-if="ms.errormsg" style="border: 0px;">
                <p class="error">{{ms.errormsg}}</p>
            </label>
            <button class="button button-balanced email-modal-btn signin" type="button" ng-click="ms.changePassword()">Submit</button>
        </div>
        </div>
    </ion-content>
</ion-modal-view>