<ion-modal-view>
    <ion-header-bar class="bar bar-header email-modal-top">
        <h1 class="title">Seller Details</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="order.closeRatingModal()"><i class="ion-close-circled close-btn"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
      <div class="list list-inset msg-to-seller-wrap">
        <div class="rate-wrap">
            <span>Name</span>
            <div class="rate-input">{{order.sellerDetails.username}}</div>
        </div>  
        <div class="rate-wrap">
            <span>Description</span>
            <div class="rate-input">{{order.sellerDetails.user_bio}}</div>
        </div>  
        <div class="rate-wrap">
            <span>Rating</span>
            <div class="rate-input"><rating ng-model="order.rate" max="5"></rating></div>
        </div> 
        <div class="rate-wrap">
            <span>Message</span>
            <div class="rate-input"><textarea ng-model="order.message" style="min-height: 50px;"></textarea></div>
        </div>
      </div>
        <div class="row">
            <div class="col"><button class="button button-block button-fill send-msg-btn" ng-click="order.submitRatingModal()">RATE SELLER <i class="ion-paper-airplane"></i></button></div>
        </div>
    </ion-content>
</ion-modal-view>