<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content class="screen-content" has-bouncing="false">
      <div class="category-list">
        <h3 class="title center">Your app Share code</h3>
        <h4 class="center "><span class="code-share">{{sa.shareCode}}</span></h4>
        <h3 class="title center">Your Credit Balance</h3>
        <h4 class="center"><span class="code-share">${{sa.accountBalance}}</span></h4>
        <div class="myaccount-button">
        <div class="row">
            <div class="col center"><button class="button button-block button-outline button-line" ng-click="sa.openCreditModal()">CREDIT SUMMARY</button></div>
        </div>
        <div class="row">
          <div class="col center"><button class="button button-block button-fill" ng-click="sa.openShareModal()">SHARE APP</button></div>
        </div>
        <div class="row">
          <div class="col">
        <div class="list">
            <h3 class="subs-sub-title coupon-code-btn" ng-click="sa.toggleReferral();" ng-if="!sa.referalflag">Enter Referral Code</h3>
            <div class="item item-input coupon-div" id="referral-div"  ng-if="!sa.referalflag"> 
                <div class="row">
                    <input type="text" placeholder="Referral Code" ng-model="sa.referral_code">
                    <a href="javascript:void(0)" class="button button-block button-fill" ng-click="!sa.submitReferralCode()" ><i class="ion-checkmark-circled"></i></a>
                </div>
            </div>
            <h3 class="subs-sub-title coupon-code-btn"  ng-if="sa.referalflag">You have already register with referal code :{{sa.referalCode}}</h3>
        </div>
          </div>
        </div>
          </div>
      </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>