<ion-modal-view>
    <ion-header-bar class="bar bar-header email-modal-top">
        <h1 class="title">Enter Message</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="sa.closeShareModal()"><i class="ion-close-circled close-btn"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset registration-div login-div text-center">
            <label class="item item-input">
                <input type="email" ng-model="sa.shareMessaage" placeholder="Message">
            </label>
            <button class="button button-balanced email-modal-btn signin" type="button" ng-click="sa.shareApp()">Submit</button>
        </div>
    </ion-content>
</ion-modal-view>