<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content has-bouncing="false">
        <div class="category-list">
            <div class="live-cat-head">
                <span>Sold Items</span>
            </div> 

            <div class="list myorder closet-div">
                <div class="item item-thumbnail-left myorder-item closet-element" ng-repeat="ele  in sold.SoldItems track by $index">
                    <img ng-src="{{ele.img_url}}" onerror="this.src='img/product-no-img.png'" class="img-responsive" my-redirection="#/app/productdetail/{{ele.p_ID}}">     
                    <div class="cart-item-title">
                        <a href="#/app/productdetail/{{ele.p_ID}}"><h2>{{ele.p_title}}</h2></a>
                        <p>Product Name: {{ele.p_title}}</p>
                        <p>Price: ${{ele.p_selling_price}}</p>
                        <p>
                            <button ng-click="sold.enterCode(ele)" class="rate-seller-btn" ng-if="ele.order_track_code != null"><i class="ion-android-plane"></i>View Tracking code</button>
                            <button ng-click="sold.enterCode(ele)" class="rate-seller-btn" ng-if="ele.order_track_code == null"><i class="ion-android-plane"></i>Enter Tracking Code</button>
                        </p>
                    </div>
                </div>
                <div class="no-order-found-box" ng-if="sold.SoldItems.length <= 0">
                    <h2>No Item is sold.</h2>
                </div>
            </div>
        </div>
    </ion-content>
    <account-footer></account-footer>
</ion-view>
