<ion-view hide-back-button="true" show-nav-bar="true">
<ion-content has-bouncing="false">
<div class="category-list">
    <div class="live-cat-head">
        <span>{{subscribe.subscribeData.subscriptionDetails.title}}</span>
    </div>
    <div class="row">
        <div class="new-des-wrap" ng-bind-html="subscribe.subscribeData.subscriptionDetails.getting_paid"></div>
    </div>
    <div class="row">
        <div class="new-des-wrap new-des-wrap-large" ng-bind-html="subscribe.subscribeData.subscriptionDetails.fees_text"></div>
    </div>
    <div class="row">
        <div class="new-des-wrap" ng-bind-html="subscribe.subscribeData.subscriptionDetails.per_transaction_text"></div>
    </div>
    <div class="row responsive-sm user-dtls-wrap">
        <div class="col">
            <div class="list myaccount-setting subscribe-cls">
                <div class="uppro-top-des subs-list">
                    <div ng-repeat="plan in subscribe.plans track by $index" class="plan">
                        <div class="list subs-plan" ng-if="plan.subscription_type == 'pay_per_transaction'">
                            <div class="plan pay-per-wrap">
                                <label class="item item-radio" ng-click="subscribe.groupClick(plan)">
                                    <div class="radio-content">
                                        <div class="item-content" ng-bind-html="plan.display_html"></div>
                                        <div class="col pos-rel"><i class="radio-icon ion-checkmark"></i></div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="subs-plan" ng-if="plan.subscription_type == 'pay_per_transaction'" ng-bind-html="subscribe.subscribeData.subscriptionDetails.subscription_text"></div>
                        <div class="plan" ng-if="plan.subscription_type != 'pay_per_transaction'">
                            <div class="item item-icon-right item-div" ng-click="subscribe.groupClick(plan)">
                              <span> {{plan.subscription_title}} starting @ ${{plan.plans.annual.per_month_price}}/mo.</span> <i class="icon ion-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="subscribe.alreadySubscribe" class="subs-plan">
                  <h3>Activated Subscription Plan Details</h3>
                  <div class="plan">
                    <div class="item item-div" ng-bind-html="subscribe.prePlanText"></div>
                  </div>
                </div>
                <a ng-if="subscribe.alreadySubscribe" class="button button-block button-outline button-line setting-btn" ng-click="subscribe.cancelSubscription()">CANCEL</a>
            </div>
        </div>
    </div>
</div>
</ion-content>
<account-footer></account-footer>
</ion-view>