<ion-view hide-back-button="true" show-nav-bar="true">
<ion-content has-bouncing="false">
    <div class="category-list">
        <div class="subscription-payment-top">
            <div class="live-cat-head">
                <span>Choosen plan details</span>
            </div>
            <div class="subs-payment-details new-des-wrap">
                <ul>
                    <li>iBuySell {{subspay.paymentForm.plan_details.subscription_title}}</li>
                    <li ng-bind-html="subspay.paymentForm.plan_details.subscription_summary"></li>
                    <li>{{subspay.paymentForm.display_name}} : ${{subspay.paymentForm.total_price}}</li>
                    <li ng-if="!subspay.paymentForm.plan_details.subscription_sell_limit">(${{subspay.paymentForm.per_month_price}} per month billed {{subspay.paymentForm.display_name}} selling unlimited items)</li>
                    <li ng-if="subspay.paymentForm.plan_details.subscription_sell_limit">(${{subspay.paymentForm.per_month_price}} per month billed {{subspay.paymentForm.display_name}} limited to {{subspay.paymentForm.plan_details.subscription_sell_limit}} items per month)</li>
                </ul>
            </div>
            <!-- <div class="cart-count">YOU HAVE <b>{{ps.CartCount}} ITMES</b> IN YOUR CART</div> -->
            <!-- <div class="cart-payment-title">CHOOSE PAYMENT METHOD:</div> -->
            <div class="cart-payment-method">
                <!-- <span ng-click="pay.togglePayment('card')" class="icon icon-cc" ng-class="{actv:pay.isPayment=='card'}"></span>
                <span ng-click="pay.togglePayment('paypal')" class="icon icon-paypal" ng-class="{actv:pay.isPayment=='paypal'}"></span> -->
                <span class="icon icon-paypal actv"></span>
            </div>
        </div>
        <form ng-submit="subspay.payNow()">
            <!-- <div ng-if="pay.isPayment=='card'">
                                <div class="row">
                                        <div class="col col-66" side="left">
                                                <input type="text" ng-model="pay.paymentform.card_holder_name" class="pay-input" placeholder="CARDHOLDER NAME">
                                        </div>
                                        <div class="col" side="left">
                                                <select ng-model="pay.paymentform.card_type"
                                                        ng-options="value.id as value.label for (key , value) in pay.cardtypes">
                                                        <option style="display:none" value="">Type</option>
                                                </select>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col col-75">
                                                <input type="number" class="pay-input" ng-model="pay.paymentform.card_no" placeholder="CARD NUMBER">
                                        </div>
                                        <div class="col">
                                                <input type="number" class="pay-input" ng-model="pay.paymentform.cvv" placeholder="CVV">
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col">
                                                <select ng-model="pay.paymentform.month"
                                                        ng-options="value.id as value.label for (key , value) in pay.months">
                                                        <option style="display:none" value="">Month</option>
                                                </select>
                                        </div>
                                        <div class="col">
                                                <select ng-model="pay.paymentform.year"
                                                        ng-options="value.id as value.label for (key , value) in pay.years">
                                                        <option style="display:none" value="">Year</option>
                                                </select>
                                        </div>
                                </div>
            </div> -->
            <!-- <div ng-if="pay.isPayment=='paypal'"> -->
            <div>
                <div class="row">
                    <div class="col">Click "SUBSCRIBE" to confirm subscription.</div>
                </div>
                <!--  <div class="row">
                                        <div class="col">Click "PAY ONE TIME" to confirm a single payment.</div>
                </div> -->
            </div>
            <div class="row total-price">
                <div class="col col-50 text-right">
                    Total:
                </div>
                <div class="col col-50 text-right">
                    ${{subspay.paymentForm.total_price}}
                </div>
            </div>
            <div class="row myaccount-setting">
                <div class="col">
                    <button type="submit" ng-click="subspay.paymentForm.subbtn='subscribe'" class="button button-block button-fill setting-btn">SUBSCRIBE</button>
                </div>
                <!-- <div class="col">
                                        <button type="submit" ng-click="subspay.paymentForm.subbtn='pay-one-time'" class="button button-block button-fill setting-btn">PAY ONE TIME</button>
                </div> -->
            </div>
        </form>
    </div>
</ion-content>
<account-footer tab="payment"></account-footer>
</ion-view>