<ion-modal-view>
<ion-header-bar class="bar bar-header email-modal-top">
<h1 class="title">{{subsdetail.details.planname}}</h1>
<div class="buttons">
    <button class="button button-clear" ng-click="subsdetail.closeSubscribeModal()"><i class="ion-close-circled close-btn"></i></button>
</div>
</ion-header-bar>
<ion-content>
<div class="row">
    <div class="col">
        <div class="price-rate" ng-if="subsdetail.details.plan_type == 'pay_per_transaction'">
            {{subsdetail.details.price}} %
        </div>
        <div class="price-rate" ng-if="subsdetail.details.plan_type != 'pay_per_transaction'">
            <sup>$</sup>{{subsdetail.details.price}}<sub>/mo.</sub>
        </div>
    </div>
</div>
<div class="plan-details-wrap">
    <div class="plan-rows">
        <h3>Paid</h3>
        <div class="plan-txt">{{subsdetail.details.validity}}</div>
    </div>
    <div class="plan-rows">
        <h3>Description</h3>
        <div class="plan-txt" ng-bind-html="subsdetail.details.description"></div>
    </div>
    <div class="plan-rows">
        <h3>Sell Limit</h3>
        <div class="plan-txt">{{subsdetail.details.limit}}</div>
    </div>
    <div class="plan-rows" ng-if="subsdetail.details.plan_type != 'pay_per_transaction'">
        <h3>Total price</h3>
        <div class="plan-txt">{{subsdetail.details.total_price | currency:"$"}}</div>
    </div>
</div>
<div class="plan-details-button-wrap">
<a class="button button-block button-fill" ng-click="subsdetail.closeSubscribeModal()">Choose</a>
</div>
</ion-content>
</ion-modal-view>