<ion-view hide-back-button="true" show-nav-bar="true">
<ion-content has-bouncing="false">
<div class="category-list">
    <div class="live-cat-head">
        <span>{{subsdetail.plans.subscription_title}} Details</span>
        <a class="back-to-seller" href="#/app/subscription">Subscription</a>
    </div>
    <div class="row" ng-if="subsdetail.plans.subscription_summary">
        <div class="subs-payment-details new-des-wrap">
            <ul>
                <li ng-bind-html="subsdetail.plans.subscription_summary"></li>
            </ul>
        </div>
    </div>
    <div class="row responsive-sm user-dtls-wrap">
        <div class="col">
            <div class="list myaccount-setting subscribe-cls">
                <div class="uppro-top-des">
                    <div class="plan">    
                        <div class="list subs-plan">
                            <label ng-if="subsdetail.plans.subscription_type == 'pay_per_transaction'" ng-click="subsdetail.openSubscribeModal('', subsdetail.plans, '')" class="three-box one-box item item-radio">
                                <input type="radio" name="plan" ng-model="subsdetail.subscribeData.subscription_id" value="{{subsdetail.plans.subscription_ID}}-0">
                                <div class="radio-content">
                                    <div class="item-content single-plan-wrap" ng-bind-html="subsdetail.plans.display_html"></div>
                                    <div class="col pos-rel"><i class="radio-icon ion-checkmark"></i></div>
                                </div>
                            </label>
                            <label ng-if="subsdetail.plans.subscription_type!='pay_per_transaction'" ng-repeat="(key, value) in subsdetail.plans.plans track by $index" ng-click="subsdetail.openSubscribeModal(key, subsdetail.plans, value)" class="three-box item item-radio">
                                <input type="radio" name="plan" ng-model="subsdetail.subscribeData.subscription_id" value="{{subsdetail.plans.subscription_ID}}-{{value.term}}">
                                <div class="radio-content">
                                    <div class="item-content single-plan-wrap" ng-bind-html="value.display_html"></div>
                                    <div class="col pos-rel"><i class="radio-icon ion-checkmark"></i></div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <h4>Enter Paypal Details</h4>
                <label class="item item-input item-floating-label">
                    <span class="input-label">PAYPAL EMAIL</span>
                    <input type="text" placeholder="PAYPAL EMAIL" ng-model="subsdetail.subscribeData.account_related_email">
                </label>
                <div class="list myaccount-setting myadd-subs-wrap">
                    <div class="item item-input item-div" ng-click="subsdetail.toggleAddress('shipping')" ng-init="subsdetail.shippingcls = true;">
                        <i ng-class="subsdetail.shippingcls ? 'ion-ios-plus-outline' : 'ion-ios-minus-outline'"></i><span>Shipping Address</span>
                    </div>
                    <div class="fold-all" id="shipping">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Full Name</span>
                            <input type="text" placeholder="Full Name" ng-model="subsdetail.subscribeData.userdata.s_name">
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Address1</span>
                            <input type="text" placeholder="Address1" ng-model="subsdetail.subscribeData.userdata.s_address1">
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Address2</span>
                            <input type="text" placeholder="Address2" ng-model="subsdetail.subscribeData.userdata.s_address2">
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">City</span>
                            <input type="text" placeholder="City" ng-model="subsdetail.subscribeData.userdata.s_city">
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">State</span>
                            <input type="text" placeholder="State" ng-model="subsdetail.subscribeData.userdata.s_state">
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Country</span>
                            <!-- <input type="text" placeholder="Country" ng-model="subsdetail.subscribeData.userdata.s_country"> -->
                            <select ng-model="subsdetail.subscribeData.userdata.s_country" ng-options="key as value for (key , value) in subsdetail.countrylist">
                                <option hidden disabled="disabled" value="">Select Country</option>
                            </select>
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">ZIP</span>
                            <input type="text" placeholder="ZIP" ng-model="subsdetail.subscribeData.userdata.s_zip">
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Phone No.</span>
                            <input type="text" placeholder="Phone No." ng-model="subsdetail.subscribeData.userdata.s_phone">
                        </label>
                        <label class="item ">Billing address is same:
                            <input type="checkbox" ng-model="subsdetail.subscribeData.userdata.checkBoxValue"/>
                        </label>
                    </div>
                    <div ng-hide="subsdetail.subscribeData.userdata.checkBoxValue">
                        <div class="item item-input item-div" ng-click="subsdetail.toggleAddress('billing')" ng-init="subsdetail.billingcls = true;">
                            <i ng-class="subsdetail.billingcls ? 'ion-ios-plus-outline' : 'ion-ios-minus-outline'"></i><span>Billing Address</span>
                        </div>
                        <div class="fold-all" id="billing">
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Full Name</span>
                                <input type="text" placeholder="Full Name" ng-model="subsdetail.subscribeData.userdata.b_name">
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Address1</span>
                                <input type="text" placeholder="Address1" ng-model="subsdetail.subscribeData.userdata.b_address1">
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Address2</span>
                                <input type="text" placeholder="Address2" ng-model="subsdetail.subscribeData.userdata.b_address2">
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">City</span>
                                <input type="text" placeholder="City" ng-model="subsdetail.subscribeData.userdata.b_city">
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">State</span>
                                <input type="text" placeholder="State" ng-model="subsdetail.subscribeData.userdata.b_state">
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Country</span>
                                <!-- <input type="text" placeholder="Country" ng-model="subsdetail.subscribeData.userdata.b_country"> -->
                                <select ng-model="subsdetail.subscribeData.userdata.b_country" ng-options="key as value for (key , value) in subsdetail.countrylist">
                                    <option hidden disabled="disabled" value="">Select Country</option>
                                </select>
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">ZIP</span>
                                <input type="text" placeholder="ZIP" ng-model="subsdetail.subscribeData.userdata.b_zip">
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Phone No.</span>
                                <input type="text" placeholder="Phone No." ng-model="subsdetail.subscribeData.userdata.b_phone">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="coupon-desc-wrap" ng-bind-html="subsdetail.subscribeData.subscriptionDetails.coupon_text"></div>
                <h3 class="subs-sub-title coupon-code-btn" ng-click="subsdetail.toggleCoupon();">Enter Coupon Code</h3>
                <div class="item item-input coupon-div" id="coupon-div">
                    <div class="row">
                        <input type="text" placeholder="COUPON" ng-model="subsdetail.subscribeData.coupon_code">
                        <a href="javascript:void(0)" class="button button-block button-fill" ng-click="subsdetail.verifyCoupon()" ><!-- <i class="ion-checkmark-circled"></i> -->Click to Verify</a>
                    </div>
                </div>
                <a class="button button-block button-fill setting-btn" ng-click="subsdetail.updateSubscription()" style="margin-bottom:60px">{{subsdetail.btnLabel}}</a>
            </div>
        </div>
    </div>
</div>
</ion-content>
<account-footer></account-footer>
</ion-view>