<ion-view hide-back-button="true" show-nav-bar="true">
    <ion-content has-bouncing="false" class="home-div">
        <ion-slide-box does-continue="true" delegate-handle="slider">
            <ion-slide ng-repeat="slide in tutorial.slides">
                <div class="box pink">
                    <img ng-src="{{slide}}"/>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <account-footer></account-footer>
</ion-view>
