@font-face {
    font-family: 'icomoon';
    src:url('./fonts/icomoon.eot?8c1ouu');
    src:url('./fonts/icomoon.eot?8c1ouu#iefix') format('embedded-opentype'),
        url('./fonts/icomoon.ttf?8c1ouu') format('truetype'),
        url('./fonts/icomoon.woff?8c1ouu') format('woff'),
        url('./fonts/icomoon.svg?8c1ouu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tag:before {
    content: "\e90e";
}
.icon-payment:before {
    content: "\e90f";
}
.icon-bag:before {
    content: "\e900";
}
.icon-bell:before {
    content: "\e901";
}
.icon-calender:before {
    content: "\e902";
}
.icon-camera:before {
    content: "\e903";
}
.icon-cc:before {
    content: "\e904";
}
.icon-delete:before {
    content: "\e905";
}
.icon-left-arrow:before {
    content: "\e906";
}
.icon-live-sale:before {
    content: "\e907";
}
.icon-myaccount:before {
    content: "\e908";
}
.icon-paypal:before {
    content: "\e909";
}
.icon-post-a-product:before {
    content: "\e90a";
}
.icon-right-arrow:before {
    content: "\e90b";
}
.icon-search:before {
    content: "\e90c";
}
.icon-setting:before {
    content: "\e90d";
}
