/* Empty. Add your own CSS if you like */

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,700italic);
body, button, input, h1, h2, h3, h4, h5, h6, h7{
  font-family: 'PT Sans', sans-serif;
}
*{
  text-transform: none !important;
}
body{
  height: 100%;
  position: absolute;
}
.myaccount-setting.xtra-setting label input::-webkit-input-placeholder,.myaccount-setting.xtra-setting label textarea::-webkit-input-placeholder , ::-webkit-input-placeholder  {
  color: #000;
  opacity: 0.9 !important;
}

.myaccount-setting.xtra-setting label input:-moz-placeholder, :-moz-placeholder { /* Firefox 18- */
  color: #000;
  opacity: 0.9 !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #000;
  opacity: 0.9 !important; 
}

:-ms-input-placeholder {  
  color: #000;
  opacity: 0.9 !important;
}

.home-div .scroll
{
  min-height: 100%;
}
.home-image-div
{
  text-align: center;
  position: absolute;
  min-height: 100%;
  z-index: 8;
  vertical-align: middle;
}
.home-image-div::before
{
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.home-image-div .col{

  display: inline-block;
  vertical-align: middle;
}

.home-button-div 
{
  text-align: center;
  position: fixed;
  bottom: 5px;
  z-index: 999;
}
.home-image-div .col img{
  position: absolute;
  left: calc(50% - 96px); 
  left: -webkit-calc(50% - 96px); 
  top: 25%;
  margin: 0;
}
.signup,.signin
{
  width: 100%;
  font-weight: 300;
  border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
  height: auto;
  min-height: 100%;
  line-height: 2em;
}
.below-textarea
{
    margin-bottom: 0px !important;
}
.textarea-div
{
    margin-bottom: 0px !important;
}
.signup
{
  color: #ff9600 !important;
  border: 1px solid #ff9600 !important;
  text-transform: none;
  letter-spacing: 1px;
  background: rgba(255,255,255,0)!important;
}
.signin
{
  background: #ff9600 !important;
  color: #fff !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -moz-box-shadow: none !important;
  border: 1px solid #ff9600 !important;
  text-transform: none;
  letter-spacing: 1px;
}
.off-color
{
   color:#ff9600;
}
.registration-div
{
  margin: 0px 10px !important;
}
.registration-div input
{
  border: none !important;
  color: #0ea3c7;
  text-align: center;
  padding: 0 !important;
  font-weight: 300;
  letter-spacing: 0px;
}
.registration-div input::-webkit-input-placeholder {  color: #0ea3c7 !important; opacity: 1;}
.registration-div label{
  margin: 0 !important;
  padding: 8px 8px 6px 8px;
  position: relative;
  display: block;
  outline: none;
  border: none;
  background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
  background-size: 1px 6px, 1px 1px, 1px 6px;
  position: relative;
}
.registration-div label:first-child{
  border-top:0 !important;
}
.reg-img-div {
  text-align: center;
}
.reg-img-div .reg-img{
  width: 56%;
}
.reg-text
{
  text-align: right;
}
.reg-text a, .forgot-pass
{
  color: #000;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 400;
}
.login-div
{
  padding-bottom: 0;
  margin-bottom: 0;
}
.rem-price
{
  text-align: left;
}
.link-cls
{
  text-decoration: none;
  color:#666; 
}
.login-fb
{
  background: #2E79BD !important;
  width: 100%;
  color: #fff !important;
  font-weight: 600 !important;
  padding: 0;
  font-size: 12px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
  overflow: hidden;
  overflow-x:hidden;
  overflow-y:hidden;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -moz-box-shadow: none !important;
  border: 0 none !important;
  height: auto;
  min-height: 100%;
  letter-spacing: 1px;
}
.login-fb i
{
  float: right;
  width: 25%;
  background: #1C5E9B !important;
  border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  -o-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
}
.login-twitter
{
  background: #2BA8E0 !important;
  width: 100%;
  color: #fff !important;
  font-weight: 600 !important;
  padding: 0;
  font-size: 12px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
  overflow: hidden;
  overflow-x:hidden;
  overflow-y:hidden;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -moz-box-shadow: none !important;
  border: 0 none !important;
  height: auto;
  min-height: 100%;
  letter-spacing: 1px;
}
.login-twitter i
{
  float: right;
  width: 25%;
  background: #0072A6 !important;
  border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  -o-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
}
.bar.bar-stable
{
  background: #009fc5 !important;
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.15);
  -o-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.15);
}
.bar-stable .button.button-clear
{
  color: #FFF !important;
}
.notification-top{
  font-size: 25px;
  margin: 10px !important;
  position: relative;
  color: #fff;
  text-decoration: none !important;
}
.notification-top p{
  font-size: 9px;
  position: absolute;
  border-radius: 50%;
  background: #D10101;
  top: -8px;
  right: -8px;
  height: 20px;
  width: 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.cart-notifi p{
  background:#EFAF41;
}
.top-logo
{
  width: 100%;
  margin-top: 12px;
}
.bar .title.title-left
{
  text-align: center;
}
.myaccount-top
{
  top: 0px !important;
  margin-bottom: 15px;
  float: left;
  width: 100%;
  position: relative;
  background: #fff;
}
.myaccount-top.tabs-icon-top.tabs > a.tab-item{
  border-left:1px solid #00ffff;
  background: #e8e8e8;
}
.user-dtls-wrap{
  padding: 0 !important;
}
.user-dtls-wrap .col{
  padding-right: 0 !important;
}
.user-dtls-wrap input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}
.user-dtls-wrap input[type="date"]:focus:before, .user-dtls-wrap input[type="date"]:valid:before {
  content:"" !important;
  margin-right: 0;
}
.myaccount-top.tabs-icon-top.tabs .tab-item.active 
{
  background: #0086a6; 
  color: #ffffff;
  margin-top:0px !important;
  border-width:0px 0px 0px 0px !important;
  border-color:#0086a6 !important;
}
.myaccount-top .tab-item .icon{
  display: block;
  margin: 7px auto 0;
  height: auto;
  font-size: 25px;
}

.myaccount-img{
  width: 35%;
  display: inline-block;
  float: left;
  position: relative;
}
.myaccount-img img
{
  width: 100%;
  border: 2px solid #44B3CF;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
}
.myaccount-img i
{
  top: 2px;
  right: 2px;
  position: absolute;
  background: #44B3CF;
  padding: 0 5px;
  border-radius: 0 3px 0 3px;
  -webkit-border-radius: 0 3px 0 3px;
  -o-border-radius: 0 3px 0 3px;
  -moz-border-radius: 0 3px 0 3px;
  color: #fff;
}
.myaccount-tag{
  float: left;
  width: 65%;
}
.myaccount-taglabel
{
  background: #ffffff;
  margin-top: 0;
  font-size: 12px;
  padding: 3px 0 3px 5px;
}
.myaccount-taglabel span
{
  color: #44B3CF !important;;
  display: block;
  line-height: 1em;
}
.screen-content
{
  background: #fff;
}
.button-line
{
  height: auto !important;
  color: #ffa133 !important;
  border-color: #ffa133 !important;
  border:1px solid #ffa133;
  min-height: 100% !important;
  font-weight: 400;
  border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
  letter-spacing: 0;
}
.button-fill
{
  height: auto !important;
  background: #ffa133 !important;
  color: #fff !important;
  border-color: #ffa133 !important;
  border:1px solid #ffa133;
  min-height: 100% !important;
  font-weight: 400;
  border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
  letter-spacing: 0;
}
.myaccount-button
{
  margin-bottom: 60px;
}

.footer-div
{
  background: #009fc5 !important;
  color: #fff;
  border-color: #009fc5 !important;
  padding: 0;
  line-height: 40px;
  height: 45px;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.2) !important;
  -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,0.2) !important;
  -o-box-shadow: 0 -1px 2px rgba(0,0,0,0.2) !important;
  -moz-box-shadow: 0 -1px 2px rgba(0,0,0,0.2) !important;
}
.footer-div .tab-item{
  opacity: 1;
}
.footer-div .tab-item.active{
  background: #009fc5;
  opacity: 1;
} 
.footer-div .tab-item .icon{
  height: 25px;
  font-size: 22px;
}
.footer-div a
{
  border-right: 1px solid;
  border-color: rgba(0,0,0,0.2) !important;
  padding-top: 5px;
}
.footer-div a:last-child
{
  border-right: 0px solid;
}
.email-modal-top
{
  background: #009fc5;
}
.email-modal-top .close-btn
{
  color: #fff !important;
  font-weight: bold;
}
.email-modal-top .title
{
  color: #fff !important;
  text-transform: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.email-modal-btn.button.button-balanced
{
  margin-top: 10px;
  background: #ff9600 !important;
  border: 0 none;
  letter-spacing: 0;
}
.center
{
  text-align: center !important;
}
.error
{
  color: red !important;
  white-space: normal !important;
}
.myaccount-setting
{
  background: none !important;
  border: 0 none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
}
.myaccount-setting label
{
  margin: 0 !important;
  padding: 8px 8px 6px 8px;
  position: relative;
  display: block;
  outline: none;
  border: none;
  background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
  background-size: 1px 6px, 1px 1px, 1px 6px;
}

.subscribe-cls.myaccount-setting label.item-radio, .myaccount-setting label.leave-style{
  margin: 0 !important;
  padding:0;
  position: relative;
  display: block;
  outline: none;
  border: none;
  background:#fff;
  background-size: auto;
  position: relative;
}

.subscribe-cls.myaccount-setting label.three-box.item-radio{
  float: left;
  width: 31%;
  margin: 0 0 0 5px !important;
  padding: 0;
}
.subscribe-cls.myaccount-setting label.three-box.item-radio .item-content{
  text-align: center;
  border: 1px solid #313131;
  padding: 0 0 5px;
  margin: 10px 0 0;
}
.subscribe-cls.myaccount-setting label.three-box.item-radio .item-content h4{
  font-size: 14px;
  margin: 0;
  padding: 5px 0;
  background: #313131;
  color: #fff;
  letter-spacing: normal;
}
.subscribe-cls.myaccount-setting label.three-box.item-radio .item-content h5{
  font-size: 16px;
  margin: 5px auto;
  padding: 0;
  font-weight: 600;
}
.subs-or{
  display: block;
  text-align: center;
  padding: 5px;
  border: 1px solid #313131;
  margin: 0 0 15px;
  width: 100%;
  float: left;
}
.subscribe-cls.myaccount-setting label.three-box.item-radio .item-content h6{
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.subscribe-cls.myaccount-setting label.one-box.item-radio{
  float: none;
  width: auto;
  margin: 0 0 0 5px !important;
  padding: 0;
}
.myaccount-setting label.leave-style{
  background: #009fc5;
  margin: 10px 0 5px!important;
  padding: 7px 10px;
  color: #fff;
  border: 0 none;
  text-transform: none;
  font-size: 13px;
}
.myaccount-setting label.leave-style input[type="checkbox"]{
  position: relative;
  top: 3px;
  margin-left: 5px;
  float: right;
}
.myaccount-setting label input, .myaccount-setting label textarea
{
  text-align: left;
  color: #009fc5;
  font-size: 16px;
  padding: 0 !important;
  height: auto;
  line-height: 30px;
  font-weight: 300;
}
.myaccount-setting label input:disabled
{
  background-color:transparent;
  padding: 0 !important;
}
.setting-btn
{
  border-radius: 7px;
}
.myaccount-setting label .cal
{
  font-size: 27px;
  color: #009fc5;
}
.myaccount-setting .text-bio
{
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
  outline: 0 none;
  border: 0 none;
  resize: none;
  color: #000;
}
.myaccount-setting .text-bio:focus{
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
  outline: 0 none;
  border: 0 none;
}

.uppro-top
{
  height: auto;
  color: #D40000;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}
.uppro-top span
{
  margin-right: 0;
  font-size: 22px;
}
.uppro-top-des
{
  background: #fff;
  padding: 0;
  margin: 0 -5px 10px;
  border-bottom: 5px solid #009fc5;
}
.uppro-top-des::after{
  content:"";
  display: block;
  clear: both;
}
.subs-list .item-div{
  background: #f7f7f7;
  padding: 6px !important;
  border: 1px solid #ddd;
}
.item-div
{
  background: #f7f7f7;
  border: 0px;
  padding: 6px !important;
}

.uppro-top-des .item-div i, .item-div i
{
  background: none;
  /* width: 15px; */
  /* height: 15px; */
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  color: #313131;
  margin-right: 5px;
  line-height: 16px;
  padding: 1px 4px;
}
.item-div span
{
  color: #313131;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
}
.myadd-subs-wrap{
  padding: 10px 0;
}
.myadd-subs-wrap .item-div{
  margin-bottom: 5px;
}
.input-div
{
  border: 0 none;
  width: 100%;
  padding: 0 !important;
  text-align: left;
  margin: 0 0 10px;
}
.input-div input[type=text], textarea{

  padding: 10px !important;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.25) inset;
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.25) inset;
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.25) inset;
  -o-box-shadow: 3px 3px 3px rgba(0,0,0,0.25) inset;
  border-radius: 0px;
}
.input-div input[type=file] {
  line-height: 16px;
}
.myaccount-setting label input[type=date], input[type=date] {
  height: 42px;
}
.serch-bar
{
  background: #4A4A4A;
}
.serch-bar .btn-cls
{
  background: transparent;
  border: 0px;
  color: #fff;
  /*    transform: scale(-1, 1);*/
}
.serch-bar .btn-cls i
{
  color: #fff;
  font-size: 20px;
}
.serch-bar .btn-cls i:before
{
  font-size: 34px;
}

.serch-bar label
{
  border-radius: 0px;
  height: 37px;
}
.payment-top
{
  padding: 15px 0px 0px 10px;
  background: #EBEBEB;
}
.cart-title
{ 
  color: #D40000;
  font-weight: bold;
  font-size: 20px;
}
.payment-top i
{
  margin-right:8px;
}
.payment-top .live-cat-head{ background-color: transparent !important;}
.cart-count
{
  background: #fff;
  padding: 5px;
  margin: 17px 10px 5px 0;
  text-align: center;
}
.cart-payment-title
{
  margin-top: 5px;
}
.cart-payment-method
{
  text-align: center;
  font-size: 48px;
  margin: 16px 0px 0px 0px;
  border-bottom: 5px solid #009fc5;
}
.cart-payment-method span
{
  margin-left: 5px;
}
.cart-payment-method span.actv{
  color: #009fc5;
}

.pay-input{
  background: #efefef;
  width: 100%;
  color: #969696 !important;
  height: auto !important;
  padding: 7px 5px !important;
  font-size: 13px !important;
}
.pay-input::-webkit-input-placeholder {  
  padding-left: 10px;
  color: #848388;
}
.cart-item
{
  background: #EFEFEF;
  border-bottom: 4px solid #FFF;
}
.cart-item img
{
  /* width: 30% !important;
   width: 30% !important;
   border: 2px solid #F1AE43;
   margin: 9px 0 5px 0;
   height: auto !important;*/
}
.cart-item .cart-item-tag
{
  text-align: right;
}
.cart-item .cart-item-tag span
{
  font-weight: bold;
  margin-right: 20px;
}
.cart-item .cart-item-tag span
{
  font-weight: bold;
  margin-right: 20px;
}
.cart-item .cart-item-tag i
{
  color: #fff;
}

.cart-top 
{
  height: 45px;
  color: #D40000;
  font-weight: bold;
  font-size: 20px;
  padding: 15px 0px 0px 10px;
  background: #FFF;
}
.cart-list
{
  margin-bottom: 0px; 
}
.cart-div
{
  background: #FFF;
  font-weight: 600;
  color: #313131;
  font-size: 16px;
}
.cart-empty{
  font-weight: 600;
  color: #313131;
  font-size: 16px;
}
.cart-empty .cart-item{
  background-color: #fff;
}
.list .item.item-accordion {
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.checkout-address-item div.row div.col:first-child{
  font-weight: 600;
  text-transform: capitalize;
}
.loading-container .loading
{
  background-color: transparent !important;
}
.ionic_toast_sticky .ionic_toast_close{
  margin: 5px;
}
.item-input{
  padding: 6px;
  text-align: center;
}

/* Custom Select Box*/

select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 5px 40px 5px 5px;
  background: #efefef url(img/dd.png) 100% 50% no-repeat;
  color: #969696;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 35px;
  border-radius: 0px;
  font-family: inherit;
}

select::-ms-expand {
  display: none;
}

.spl-margin-bot{
  margin-bottom: 10px
}
.enter-sale-price{
  background: #efefef;
  width: 100%;
  padding: 10px !important;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.25) inset;
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.25) inset;
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.25) inset;
  -o-box-shadow: 3px 3px 3px rgba(0,0,0,0.25) inset;
  font-weight: 400;
  font-size: 12px;
}
.green-small-btn{
  background: #f3a951;
  color: #fff;
  text-transform: none;
  border: 0 none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  height: auto !important;
  line-height: 1em !important;
  letter-spacing: normal;
  padding: 11px 0;
  min-height: 1px;
}
.shipping-method{
  background: #00c2f0;
  color: #fff;
  text-transform: none;
  border: 0 none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  height: auto !important;
  line-height: 1em !important;
  letter-spacing: normal;
  padding: 11px 0;
  min-height: 1px;
}

.condition-wrap label{
  display: inline-block;
  position: relative;
  padding: 0 0 0 15px;
  margin: 0 0 0 5px;
  cursor: pointer;
}
.condition-wrap label input[type=radio], .condition-wrap label input[type=checkbox]{
  position: absolute;
  top: 3px;
  left: 0;
}
/*livesale*/
.live-top
{
  color: #D20000;
  padding: 7px 0px 7px 10px;
  font-size: 18px;
  font-weight: bold;
}
.category .live-cat-head
{
  background: #fff;
  color: #009fc5;
  padding: 0;
  font-size: 20px;
  letter-spacing: -1px;
}
.category .live-cat-head span
{ 
  font-weight: 600;
}
.category .live-cat-head span.cat-special-text{
  float: right;
  font-weight: 300;
}
.category .live-cat-head a i
{ 
  float: right;
}
.category .live-cat-head a
{ 
  text-decoration: none;
  float: right;
  font-size: 14px;
  color: #313131;
  vertical-align: bottom;
  letter-spacing: -1px;
  top: 5px;
  display: inline-block;
  position: relative;
  width: 20%;
  text-align: right;
}
.category-list{
  padding: 20px 10px;
}
.category-list .live-cat-head
{
  background: #fff;
  color: #313131;
  padding: 0 0 5px;
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 10px;
}
.category-list .live-cat-head span.rquo{
  color: #009fc5;
}
.category-list .live-cat-head a{
  text-decoration: none;
  color: #009fc5;
}
.category-list .row{
  padding: 0;
  margin: 0 0 -1px;
}
.category-list .row .swiper-slide {
  border: 1px solid #e4e4e4;
  /* border-right: 0; */
}
.category-list .row .swiper-slide:nth-of-type(even){
  border-left: 0;
}

.slider-element
{
  width: 100%;
  margin: 0;
  text-align: center;
  display: block;
  padding: 5px;
  text-decoration: none;
}
.slider-element::after{
  content: "";
  display: block;
  clear: both;
}
.slider-element .slider-element-img
{
  position: relative;
  padding: 0;
  text-align: center;
  border: 0 none;
  height: 140px;
  overflow: hidden;
  margin: 0 5px 5px;
  background: #fff;
  display: table-cell;
  vertical-align: middle;
}
.slider-element .slider-element-img .pro-img-wrap{
  height: 140px;
  overflow: hidden;
}
.slider-element .slider-element-img .pro-img-wrap > a{
  display: block;
}
.slider-element .slider-element-img span
{
  position: absolute;
  top: 0;
  left: 0;
  background: #D40001;
  border-bottom-right-radius: 3px;
  color: #FFF;
  font-weight: 600;
  padding: 2px 7px;
}
.slider-element .slider-element-img img
{
  width: 100%;
  height: auto;
}
.slider-element-content{
  color: #313131;
  font-size: 15px;
  text-decoration: none;
}
.slider-element-content .pro-title{
  color: /*#009fc5*/ #000;
  font-size: 15px;
  text-align: left;
  padding: 0 0 0 5px;
  margin-bottom: 0;
  text-decoration: none !important;
  border-bottom: 0 none !important;
  outline: 0 none !important;
  -webkit-margin-before: 0.0;
  -webkit-margin-after: 0.0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.slider-element-content .pro-title a{
  color: #000;
  font-weight: 400;
  text-decoration: none;
}
.slider-element-content .pro-price
{
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding: 0 0 0 5px;
  text-decoration: none;
}
.pro-price strike
{
    color: #999999;
}
.slider-element-content .pro-category
{
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding: 0 0 0 5px;
  text-decoration: none;
}
.slider-element-content button
{
  background: #fff;
  color: #313131;
  font-weight: 600;
  border: 0 none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
  min-height: 1px;
  min-width: 1px;
  width: 100%;
  margin: 0 5px;
  line-height: 15px;
  font-size: 14px;
  border-left: 1px solid #f5f5f5;
  padding: 3px 5px;
  text-align: right;
  text-transform: none;
}
.slider-element-content button.ion-ios-cart
{
  background: #fff;
  color: #313131;
  font-weight: 600;
  border: 0 none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
  min-height: 1px;
  min-width: 1px;
  width: 100%;
  margin: 0 5px;
  line-height: 15px;
  font-size: 12px;
  border-left: 1px solid #f5f5f5;
  padding: 3px 0 3px 15px;
  text-align: right;
  text-transform: none;
}
.slider-element-content button.button.icon-left:before{
  line-height: 1em;
  color: #eca01e;
  padding: 0;
  font-size: 16px;
}
.buy-cout-wrap{
  padding-bottom: 0;
}
.buy-cout-wrap .col{
  padding: 0;
  background: #fff;
}
.category-list .buy-cout-wrap .col{
  padding: 0;
  background: #fff;
  margin: 0 5px;
}
.buy-cout-wrap .user-view{
  text-align: right;
  font-size: 13px;
  font-weight: 600;
  padding: 2px 0px 0 2px;
}
.buy-cout-wrap .user-view i{
  font-size: 20px;
  float: left;
  color: #00a23c;
}
/*livesale*/

.sidebar-logo-wrap{
  display: block;
  text-align: center;
  width: 100%;
}
.sidebar-logo-wrap img{
  width: 95px;
  margin: 5px 0 0;
}
.sidebar-list .item{
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 400;
  color: #707070;
  border-color: #ebebeb;
}
.sidebar-list .item-icon-right .icon {
  right: 11px;
  font-size: 18px;
  color: #929292;
}
.sidebar-list .item.item-accordion{
  background: #ebebeb;
  font-size: 12px;
  padding: 10px 10px 0;
}
.sidebar-list .item.item-accordion:last-child{
  padding-bottom: 10px;
}
.tabs-top.tabs-striped .tab-item.activated, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.tab-item-active{
  border-width: 0 0 0!important;
}
.item-input .icon {
  min-width: 14px;
  position: absolute;
  right: 5px;
  top: 15px;
  font-size: 35px;
  color: #0ea3c7; 
}

/*product details*/
.pro-details-wrap{
  padding: 10px 0;
}
.prod-title
{
  color: #000;
  font-weight: normal;
  margin-bottom: 0px !important;
  font-size: 1.3em;
  letter-spacing: -1px;
}
.prod-cat
{
  color: #29a9c6;
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0px !important;
}
.prod-cat span
{
  color: #384651;
  font-size: 12px;
  font-weight: 700;
}
.prod-cat a
{
  color: #29a9c6;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}
/*.main-image{
  max-height: 155px;
  height: 155px;
}*/
.main-image img
{   
  width: 100%;
}
.pro-images .elem-img
{
  width: 65px;
  float: left;
  margin: 3px;
  height: 65px;
  overflow: hidden;
}
.pro-images .elem-img img
{
  width: 100%;
  border: 1px solid #F7B76D;
  height: 100%;
  background: url(img/loading.gif) 50% 50% no-repeat;
}
.cur-price
{
  font-weight: 600;
  color: #313131;
}
.cur-price strike
{
  color: #999999;
}
.sell-price
{
  color: #ffa133;
  font-weight: bold;
}
.prod-rate{
  color:  #313131;
  font-weight: 600;
}
.prod-rate i{
  color: #ff4000;
  margin-left: 8px;
  margin-right: 5px;
  font-size: 18px;
  position: relative;
  top: 2px;
}
.prod-rate i.ion-eye{
  font-size: 22px;
  margin-top: 0;
  display: inline-block;
  position: relative;
  top: 3px;
  color: #00a23c;
}
.button-tag{text-align: center;}    
.prod-buynow
{
  background-color: #EFAF43;
  color: #FFF;
  font-weight: 400;
  width: 100%;
  margin-bottom: 5px;
  border-color: #EFAF43;
  border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
}
.prod-tag
{
  background-color: #009fc5;
  color: #FFF;
  font-weight: 400;
  width: 100%;
  border-color:#009fc5;
  border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
  text-transform: none;
}
.freze-prod
{
  background-color: #f0af43;
  color: #FFF;
  font-weight: 400;
  width: 100%;
  border-color:#009fc5;
  border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
}
.prod-buynow span, .prod-tag span, .freze-prod i{
  font-size: 14px;
  display: inline-block;
  margin: 0 5px 0 0;
}
.button-tag{
  margin-bottom: 5px;
}
.pro-images{
  margin: -3px;
}

.related-pro-div
{
  position: relative;
  height: 150px;
  overflow: hidden;
}
.related-pro-div span
{
  position: absolute;
  background-color: #ff9600;
  border-radius: 0;
  text-align: center;
  padding: 4px 10px;
  right: 10px;
  top: 10px;
  color: #fff;
  font-size: 15px;
}
.related-pro-div img
{
  width: 100%;
}
.prod-chahead
{
  background-color: #fff;
  color: #364751;
  font-size: 1.2em;
  margin-bottom: 0!important;
  border-bottom: 1px solid #f2f2f2;
  padding-left: 0;
  font-weight: 400;
  letter-spacing: -1px;
}
.prod-chahead i
{
  float:right;
}
.prod-des
{
  padding: 5px 10px;
}
.prod-chadet
{
  display: none;
  background: #f2f2f2;
  margin-bottom: 5px!important;
  padding: 5px 10px;
  font-size: 12px;
}
.prod-chadet p{
  margin-bottom: 2px;
  color: #313131;
}
.prod-chadet p a{
  color: #009fc5;
  text-decoration: none;
}
.prod-chadet p i.ion-ios-star{
  color: #fcc200;
  margin: 0 0 0 2px;
  display: inline-block;
  position: relative;
  top: 1px;
  font-size: 14px;
}
.prod-des > span:nth-of-type(2) .cont-seller-btn-wrap{
  display: block;
  text-align: center;
  margin: 10px 0 0;
  border-top: 1px solid #ccc;
  padding-top: 5px;
}
.cont-seller-btn-wrap button{
  background: #313131;
  color: #fff;
  border: 0 none;
  padding: 5px 15px;
  text-transform: none;
  width: 100%;
  font-family: inherit;
  letter-spacing: 0;
}
.cont-seller-btn-wrap button .ion-android-mail{
  margin: 0 5px 0 0;
  display: inline-block;
}

.livesale-img
{
  position: relative;
}
.livesale-img span
{
  position: absolute;
  top: 7px;
  left: 7px;
  background: #d40001;
  border-bottom-right-radius: 0;
  color: #fff;
  font-weight: 600;
  padding: 3px 7px;
}
.live-price
{
  color: #fff;
  vertical-align: bottom;
  margin: 5px 0px 5px 0px;
  font-weight: 600;
  border: 2px solid #313131;
  padding: 5px;
  background: #313131;
  text-align: center;
}
.live-percent, .freeze-percent{
  text-align: left;
  color: #ff9600;
}
.freze-prod
{
  background-color: #ffa133!important;
  width: 100%;
  font-weight: bold;
  color: #FFF;
  border: 0px;
}
.liveprod-timer
{
  width: 100%;
  clear: both;
}
.ui-progressbar {
  position: relative;
  text-align: center; 
}
.progress-label {
  position: absolute;
  left: 25%;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}
.ui-widget-header
{
  background: #40a0dd;
  border: 0px;
  margin: 0px !important
}
.prodcon{width: 100%;}
.prodcon .col
{
  width: 32%;
  float: left;
}
.prodcon .col.col-70{
  width: 68%;
  float: left;
}
.prodcon .col.col-70 label {
  width: 50%;
  float: left;
}
.prodcon .col.col-70 .item-radio .item-content{
  padding: 2px 5px;
  font-size: 12px;
}
.prodcon .col.col-70 .item-radio .radio-icon{
  padding: 2px 10px;
  font-size: 14px;
}
.prodcon label
{
  width: 29%;
  float: right;
}
.all-cat
{
  text-decoration: none;
  color: #707070;
  font-weight: 600;
}
.menu-blk{ display: inline-block; width: 100%;}
.sidebar-list .item a
{
  text-decoration: none;
  color: #707070;
  font-weight: 600;
}
.sidebar-list .item.item-icon-right a{
  font-weight: 400;
}
.sidebar-list .item.item-complex a{
  font-weight: 400;
  font-size: 12px;
}
.timecls
{
  background: #efefef;
  width: 100%;
  padding: 10px!important;
  display: block;
  padding-top: 2px;
  padding-left: 0;
  height: 34px;
  color: #111;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
}
.notification-list  
{
  white-space: normal;
  padding-left:10px;
}
.notification-list:last-child
{
  margin-bottom: 40px;
}
.notification-list p
{
  text-align: right;
}
.closet-element:last-child
{
  margin-bottom: 40px;
}
.item-radio .item-content
{
  padding-right:0px;
}
/*product details*/

/*===CSS by===*/
.box{
  background: #FFF;
  vertical-align: middle;
  text-align: center;
  height: 100%;
}
/*===Css By end ===*/

.box img{
  width: 70%;
}
.slider{
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
}
.slider-pager{
  position: fixed;
  bottom: 70px;
}
.slider-pager .slider-pager-page{
  color: #f0af43;
}
.upload-img-wrap{
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.upload-img-wrap h2{
  color: #313131;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: -1px;
}
.upload-img-wrap .col{
  padding: 15px 0;
  border: 1px solid #00c2f0;
  margin: 0 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
}
.upload-img-wrap .icon{
  font-size: 42px;
  color: #00c2f0;
} 
.img-listing{}
.img-listing .col{
  margin: 5px;
}
.img-listing .col img{
  width: 100%;
}

.cart-list .cart-item-title{
  float: left;
  width: 95%;
}
.cart-list .cart-item-title h2{
  font-weight: 400;
  text-transform: none;
  color: #313131;
}
.cart-list .cart-item-title p{
  font-size: 13px;
  line-height: 16px;
}
.cart-list .cart-item{
  border: 0 none;
  border-bottom: 2px solid #fff;
}
.cart-list .cart-item a img{
  height: 80px !important;
  width: 80px !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
  border: 0 none;
}
.cart-list .cart-item a{
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
}
.cart-list .cart-item .cart-item-title a
{
  position:static;
}

.cart-item-delete {
  float: right;
  margin-top: 0;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 1px;
}
.cart-list .cart-item-title p.seller-name{
  text-transform: none;
  font-weight: 600;
  font-size: 12px;
}
.cart-list .cart-item-title.feedback-cls{
  width: 100%;
}
.seller-name span{
  font-weight: 400;
  text-transform: none;
}
h3.delivery-cart {
  margin: 10px 0 0 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
}
h3.delivery-cart span{
  font-weight: 400;
  text-transform: none;
}

.cart-list .cart-item .cart-item-tag {
  background: #f0af43;
  padding: 1px;
  color: #fff!important;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
}
.cart-list .cart-item .cart-item-tag i{
  font-size: 13px;
}
.notification-div .item{
  padding: 10px;
  font-size: 12px;
  border: 0 none;
}
.notification-div .item:nth-of-type(odd){
  background: #f9f9f9;
}
.notification-div .item h2{
  font-weight: 700;
  color: #313131;
  text-transform: none;
  font-size: 13px;
}
.notification-div .item .notifiaction_footer{
  color: #ccc;
}
.up-img
{
  position: relative;
}
.up-img span
{
  position: absolute;
  top: 15px;
  right: 15px;
  color: #d10101;
  font-size: 26px;
}
.uppro-top-div .uppro-top
{
  margin-bottom: 0px;   
}
.cat-block a
{
  padding: 0px !important;
  background-color:transparent !important;
}
.category{
  padding: 0 10px;
}
.swiper-container.swiper-container-horizontal{
  border: 0 none;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  margin: 15px 0;
  border-left: 1px solid #e4e4e4;
}
.swiper-slide{
  /*box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);*/
  border: 1px solid #e4e4e4;
  border-left: 0;

}
.swiper-slide:first-child{

}
.swiper-wrapper{
  padding: 0 0;
}
.myaccount-button .button.button-block, .myaccount-button .button.button-full{
  margin: 0 0 5px;
  height: auto !important;
  line-height: 1em;
  padding: 10px 0;
}
.subscribe-cls{
  width: calc(100% - 5px);
}
.subscribe-cls .plan{
  margin-bottom: 5px;
  float: left;
  width: 100%;
  /* background: #f7f7f7;*/
}
.subscribe-cls .plan.pay-per-wrap{
  margin-bottom: 0;
  background: #fff;
}
.setting-btn{
  border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
}
.button-live-sale{
  border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
  background: #ff9600/*#cacc2c*/;
  color: #000;
  border: 0 none;
  font-weight: 600;
  font-size: 16px;
  border: 2px solid #ff9600;
  display: inline-block;
  padding: 5px;
  width: 50%;
}
.button-live-sale .icon::before{
  font-size: 22px;
  margin-top: 3px !important;
}

/*Search List*/

.auto-com{
  position: absolute;
  left: 0;
  width: calc(100% - 20px);
  margin: 0 10px;
}
.auto-com li.item{
  border: 0 none;
  border-bottom: 2px solid #e7e7e7;
  padding: 5px 13px;
  font-size: 13px;
  color: #313131;
}
.auto-com li.item span{
  position: relative;
  top: 2px;
  color: #009fc5;
}
.auto-com li.item:last-child{
  border-bottom: 1px solid #e7e7e7;
}
.product-grid
{
  box-shadow: 0 0 4px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
  -o-box-shadow: 0 0 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,.2);
  padding: 5px;
  text-align: center;
  margin: 5px;
  max-width: 47%;
  text-decoration: none;
  color:#707070;
}
.product-grid-img
{
  position: relative;
  padding: 0;
  text-align: center;
  border: 0 none;
  height: 140px;
  overflow: hidden;
  margin: 0 0 5px;
  background: #e9e9e9;
}
.product-grid-img img{
  width: 100%;
}
.product-grid-title{
  color: #009fc5;
  font-size: 16px;
  text-align: left;
  padding: 0 0 0 0;
  margin-bottom: 0;
  text-decoration: none!important;
  border-bottom: 0 none!important;
  outline: 0 none!important;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
.product-grid-cond{
  text-align: left;
  font-size: 14px;
  color: #313131;
  text-transform: none;
}
.product-grid-price{
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding: 0 0 0 0;
  text-decoration: none;
}

.total-price{
  font-size: 18px;
  font-weight: 600;
  color: #313131 !important;
}
.exp-txt{
  margin-top: 8px;
  font-weight: 600;
}
.live-sale-slider{
  margin: 10px auto 0;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 15px;
}
.live-sale-slider .slider-element{
  /*box-shadow: 0 0 4px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
  -o-box-shadow: 0 0 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,.2);*/
  padding: 5px;
  text-align: center;
  margin: 5px;
  max-width: 100%;
  text-decoration: none;
  color: #707070;
  border: 1px solid #e7e7e7;
}
.live-sale-slider .slider-element .slider-element-img{
  margin: 0 0 5px;
}

.live-sale-slider .slider-element-content .pro-title{
  padding: 0;
  overflow: hidden;
}

.live-sale-slider .main-image{
  position: relative;
}
.ls-tag{
  position: absolute;
  background: #009fc5;
  color: #fff;
  font-weight: 600;
  text-transform: none;
  top: 5px;
  right: 5px;
  padding: 2px 10px;
}
p.pro-title{
  font-size: 16px;
  font-weight: 400;
  color: #525252;
  margin-bottom: 0;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e8e8e8;
}
.product-grid-cond{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e8e8e8;
}
.product-grid-price{
  text-align: left;
}
.product-grid-price span{
  background: rgba(0,0,0,0.8);
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  font-size: 18px;
  border: 2px solid #000;
}
.live-sale-slider h5{
  margin: 0 0 5px;
  color: #525252;
  font-weight: 600;
}
.padding-less{
  padding-bottom: 0
}
.subs-plan{
  float: left;
  width: 100%;
  margin: 0;
}
subs-plan::after{
  content:"";
  display: block;
  clear: both;
}
.subs-plan .item-radio .item-content{
  padding: 5px 5px 5px 5px;
  font-size: 14px;
  text-transform: none;
}
.subs-plan h3{
  letter-spacing: -1px;
  float: left;
  width: 100%;
  margin: 0 0 10px;
  font-size: 20px;
}
.pos-rel{position: relative; text-align: center; margin-bottom: 0 !important; padding: 0;}
.subs-plan .item-radio .pos-rel .radio-icon{
  padding: 0;
  font-size: 16px;
  color: #00b400;
  text-align: center;
  left: auto;
  right: auto;
  bottom: 0;
  position: relative;
}
.subs-sub-title{
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 0;
  padding: 0 !important;
  color: #313131;
  text-align: center;
}
.no-margin{
  margin: 0;
}
.plan{
  position: relative;
}
.subs-plan .plan .ion-information-circled{
  display: inline-block;
  margin: 0 5px 0 0;
  color: #eca01e;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 99;
  font-size: 18px
}
.plan.pay-per-wrap .ion-information-circled{
  color: #d10101;
}
.subs-plan .plan.pay-per-wrap .item-radio .item-content{
  background: #fff /*url('../img/ok-icon.png') 0 50% no-repeat*/;
  border: 2px solid #efaf43;
  color: #efaf43;
  padding: 0 0 10px 0;
  text-transform: none;
  font-size: 18px;
  font-weight: 600;
  width: 60%;
  margin: 0 auto;
}
.subs-plan .plan.pay-per-wrap .item-radio .item-content h4{
  background: #efaf43;
  padding: 5px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.subs-plan .plan.pay-per-wrap .item-radio .item-content p{
  padding: 5px;
  text-align: center;
  color: #313131;
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
  font-weight: 400;
  text-transform: none;
}
.subs-plan .plan.pay-per-wrap .item-radio .radio-icon{
  color: #efaf43;
  padding: 10px 15px 0 0;
  font-size: 20px;
}
.fold-all{ display: none; padding-bottom: 10px;}
.coupon-div{
  display: none;
  width: 100%;
  margin-top: -10px;
  border: 0 none;
  left: 1px;
  padding: 10px 0 0;
}
.coupon-div input[type="text"]{
  padding: 8px;
  border: 1px solid #ffa133;
  line-height: 23px;
  height: auto;
  margin-bottom: 1px;
}
/*.coupon-div .button.button-block{
  margin: 0;
  padding: 5px 0;
  height: auto !important;
  min-height: 1px !important;
  line-height: 30px;
  border: 0 none;
  font-size: 28px;
}*/

.coupon-div .button.button-block{
  margin: 0;
  padding: 5px;
  height: auto !important;
  min-height: 1px !important;
  line-height: 30px;
  border: 0 none;
  font-size: 12px;
}

.price-rate{
  background: rgba(255,213,140,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,213,140,1) 0%, rgba(236,160,30,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,213,140,1)), color-stop(100%, rgba(236,160,30,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,213,140,1) 0%, rgba(236,160,30,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,213,140,1) 0%, rgba(236,160,30,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,213,140,1) 0%, rgba(236,160,30,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,213,140,1) 0%, rgba(236,160,30,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd58c', endColorstr='#eca01e', GradientType=1 );

  width: 200px;
  height: 200px;
  margin: 20px auto;
  border-radius: 50%;
  text-align: center;
  line-height: 190px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  position: relative;
  border: 5px solid #eca01e;
  box-shadow: 0 0 0 2px rgba(255,255,255,1) inset;
  -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,1) inset;
  -o-box-shadow: 0 0 0 2px rgba(255,255,255,1) inset;
  -moz-box-shadow: 0 0 0 2px rgba(255,255,255,1) inset;
  text-shadow: 0 3px 2px rgba(0,0,0,0.2);
}
.price-rate sup {
  top: -30px;
  font-size: 30px;
  font-weight: 400;
}
.price-rate sub {
  font-size: 15px;
  font-weight: 400;
}
.plan-details-wrap{
  margin: 0 auto;
  width: 80%;
  text-align: center;
  background: #efefef;
  padding: 15px 10px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  -o-box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}
.plan-details-wrap h3{
  font-size: 14px;
  text-transform: none;
  margin: 0 0 0;
  font-weight: 600;
  padding: 0 0 5px;
  color: #2fc12f;
  border-bottom: 1px solid #2fc12f;
}
.plan-details-wrap .plan-txt{
  color: #313131;
  font-size: 16px;
  padding: 10px 5px;
  margin-bottom: 8px;
  background: #fff;
  text-transform: capitalize;
}
.plan-details-wrap .plan-txt p{ margin: 0;}
.plan-details-button-wrap{
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.timer-container{border: 1px solid #009fc5; text-align: center; font-weight: bold; position: relative; width: 100%; padding: 5px 0; float: left; margin: 10px 0 0 0; overflow: hidden;}
.timer-container span{z-index: 2; position: relative;}
.timer-box{background: #009fc5 !important; position: absolute; top: 0px; z-index: 1; height: 100%;}

.myorder .cart-item-title{
  float: left;
  width: 100%;
}
.myorder .cart-item-title a{
  text-decoration: none;
}
.myorder .cart-item-title h2{
  font-weight: 700;
  text-transform: none;
  color: #313131;
}
.myorder .cart-item-title p{
  font-size: 13px;
  line-height: 16px;
}
.myorder .myorder-item{
  border: 0 none;
  border-bottom: 2px solid #e8e8e8;
}
.myorder .myorder-item:last-child{
  border-bottom: 1px solid #e8e8e8;
}
.myorder .myorder-item i.ion-ios-star{
  color: #fcc200;
}
.ion-ios-star{
  color: #fcc200 !important;
}
.rate-seller-btn{
  background: #fff;
  border: 1px solid #cacc2c;
  color: #313131;
  font-size: 12px;
  text-transform: none;
  padding: 0 5px 0 0;
  margin: 5px 0 0 0;
}
.rate-seller-btn i{
  color: #fff;
  background: #cacc2c;
  display: inline-block;
  padding: 2px 5px;
  margin: 0 3px 0 0;
}
.rate-seller-btn a{
  text-decoration: none;
}
.myorder .myorder img{
  height: 80px !important;
  width: 80px !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
  border: 0 none;
}

.checkout-item-title-wrap, .checkout-item-dwrap, .checkout-item-btm-wrap{
  padding: 0;
}
.checkout-item-title{
  padding: 5px 0;
}
.checkout-item-title h2{
  font-size: 16px;
  color: #000 !important;
  font-weight: 400;
}
.cart-item.checkout-item{
  background: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2);
  -o-box-shadow: 0 0 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.2);
  padding: 15px 10px !important;
}
.checkout-item-img{
  margin: 5px 5px 0 0;
  border: 1px solid #f1f1f1;
  text-align: center;
}
.checkout-item-img img{
  width: 100%;
}
.checkout-item-price{
  padding: 0 5px;
}
.checkout-item-price p{
  text-align: right;
  margin-bottom: 2px;
}
.checkout-item-price p span{
  font-weight: 600;
  color: #313131;
  float: left;
}
.checkout-item-shipment{
  margin: 15px 0 0 0;
  width: 100%;
  padding: 0;
}
.checkout-cart-list .item.item-stable{
  padding: 10px 10px!important;
  border: 0 none;
  font-size: 14px;
  text-transform: none;
  margin-bottom: 2px;
}
.checkout-address-item{
  font-size: 14px;
  border: 0 none;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  font-weight: 400;
}
.checkout-cart-list .item.active.item-stable{
  background: #009fc5;
  color: #fff;
  border: 0 none;
}
.checkout-item-delv{
  padding-right: 10px !important; 
  padding-left: 0;
}
.checkout-cart-list .list{
  padding: 0;
}
.footer-div .tab-item .icon.icon-live-sale{
  color: #cacc2c;
  font-size: 25px;
}
.footer-div .tab-item .ion-android-apps{
  font-size: 21px;
}
.has-header{
  margin-bottom: 40px;
}

.action-sheet-options {
  background: #f1f2f3;
  border-radius: 0;
  border: 0 none !important;
}
.action-sheet .button {
  display: block;
  padding: 0;
  width: 100%;
  border-radius: 0;
  border-color: rgba(0,0,0,0.1);
  background-color: transparent;
  color: #313131;
  font-size: 14px;
  height: auto;
  line-height: 31px;
  min-height: 1px;
  margin: 0;
  font-weight: 400;
  text-align: left;
  padding-left: 10px;
}
.action-sheet .button i{
  font-size: 16px;
  display: inline-block;
  margin: 0 5px 0 0;
  position: relative;
  top: 1px;
  float: right;
  right: 5px;
}
.feedback-cls p
{
  white-space: normal; 
}
.prod-dec
{
  display: block;
}
.user-message-div
{
  margin-bottom: 10px;
}
.my-message-div
{
  margin-bottom: 10px;  
}
.user-message
{
  background: #ecd578;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  position: relative;
}
.user-message:after
{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 5%;
  top: auto;
  border: 10px solid;
  border-color: #ecd578 transparent transparent #ecd578;
}

.my-message
{
  background: #99bcd6;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  position: relative;
}
.my-message:after
{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: 5%;
  top: auto;
  border: 10px solid;
  border-color: #99bcd6 #99bcd6 transparent transparent;
}
.my-message, .user-message{
  font-size: 12px;
  padding: 10px;
  margin-bottom: 5px
}
.my-message p, .user-message p{
  margin-bottom: 5px;
}
.inbox-div span
{
  display: block;
}
.message-detailscls
{
  border: none;
}
.message-detailscls textArea
{
  border: 1px solid #b2b2b2;
  box-shadow: 0 0 0;
}
.message-detailscls input
{
  border: 1px solid #b2b2b2;
  box-shadow: 0 0 0;
  padding: 5px;
}
/*credit modal*/
.credit-head
{
  background: #e8e8e8;
  color: #313131;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #ccc
}
.credit-credit
{
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 400;    
}
.credit-total
{
  background: #f7f7f7;
  color: #313131;
  font-size: 18px;
  font-weight: 400;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

/*credit modal*/

/*16-12-2015*/
.item-floating-label .input-label.has-input{
  opacity: 1;
  top: 0;
  left: 0 !important;
  text-align: left;
  font-size: 11px;
  /* background: green; */
  color: #313131;
  padding: 0;
  width: auto;
  text-transform: none;
}
.myaccount-setting.subscribe-cls label input{
  text-align: left;
}
.myaccount-setting.xtra-setting label input{
  color: #000;
}
.coupon-code-btn{
  background: #fff;
  padding: 8px 0 !important;
  margin-bottom: 10px;
  color: #000;
  border: 2px solid #000;
  text-transform: none;
}

.msg-to-seller-wrap{}
.msg-to-seller-wrap .item-input {
  /*padding: 0;
  text-align: center;
  border: 0 none;
  margin-bottom: 15px;
  border-bottom: 1px solid #e8e8e8;*/
  margin: 0;
  padding: 8px 8px 6px 8px;
  position: relative;
  display: block;
  outline: none;
  border: none;
  background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
  background-size: 1px 6px, 1px 1px, 1px 6px;
}
.msg-to-seller-wrap .item-input input{
  height: auto;
  padding: 0;
}
.msg-to-seller-wrap .item-input:hover, .msg-to-seller-wrap .item-input:focus {
  background: bottom left linear-gradient(#0099cc, #0099cc) no-repeat, bottom center linear-gradient(#0099cc, #0099cc) repeat-x, bottom right linear-gradient(#0099cc, #0099cc) no-repeat;
  background-size: 1px 6px, 1px 1px, 1px 6px; 
} 
.msg-to-seller-wrap .item-input textarea{
  box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  padding: 0 !important;
  min-height: 200px;
  resize: none;
  font-family: inherit;
  border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
}
.send-msg-btn{
  font-weight: 700;
  border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
  text-transform: none;
}
.user-dtls-wrap h4{
  background: rgba(0,0,0,0);
  color: #313131;
  padding: 0;
  font-size: 20px;
  letter-spacing: -1px;
}

.no-order-found-box{
  border: 0 none;
  color: #313131;
  text-align: center;
  background: rgba(0,0,0,0);
  padding: 10px 5px;
  margin: 50% auto 15px;
}
.no-order-found-box h2{
  line-height: 1em;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  color: #313131;
  text-transform: none;
}
.new-des-wrap h2{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #313131;
  text-transform: none;
}
.new-des-wrap.new-des-wrap-large h2{
  letter-spacing: -1px;
  float: left;
  width: 100%;
  margin: 0 0 10px;
  text-transform: none;
  font-size: 20px;
  font-weight: 400;
}

.new-des-wrap li{
  border-left: 5px solid #009fc5;
  padding: 4px 0 4px 5px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 14px;
  background: #f7f7f7;
}
.new-des-wrap li li{
  border-left: 3px solid #313131;
  padding: 0px 0 0px 5px;
  margin-bottom: 0;
  margin-top: 5px;
  line-height: 12px;
  font-size: 11px;
}
.new-des-wrap h3{
  font-size: 15px;
}
.new-des-wrap > ul{
  margin-bottom: 15px;
}
.item-radio input:checked+.radio-content .item-content{
  border: 1px solid #cacc2c;
  border-left: 5px solid #cacc2c;
  background: #fff;
}
.rate-input{
  width: 100%;
  display: block;
  float: left;
  padding: 0 8px 6px 8px;
  position: relative;
  display: block;
  outline: none;
  border: none;
  background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
  background-size: 1px 6px, 1px 1px, 1px 6px;
  position: relative;
  min-height: 25px;
}
.rate-wrap {
  margin-bottom: 10px;
  display: block;
  float: left;
  width: 100%;
}
.rate-wrap span{
  font-size: 11px;
  text-transform: none;
  color: #009fc5;
}
.rate-wrap textarea{
  box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  width: 100%;
  padding: 0 !important;
  resize: none;
}

.xtra-border{
  border-bottom: 1px solid #f2f2f2;
  margin:5px 10px 5px !important;
  padding: 5px 0;
}
.xtra-border .col{
  padding: 0 0;
  text-transform: none;
  font-weight: 600;
}
.xtra-border .col strong{
  color: #364751;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: -1px;
  text-transform: none;
}

.closet-case{
  border-bottom: 1px solid #f2f2f2;
  margin: 5px 0px -1px!important;
  padding: 5px 0 !important;
}
.closet-case .col{
  padding: 0 0;
  text-transform: none;
  font-weight: 400;
}
.closet-case .col strong{
  color: #364751;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: -1px;
  text-transform: none;
}
.pro-img-wrap.closet-img{
  height: 150px;
}

.buyer-protection{
  background:#009fc5 url('../img/protection-img.png') right 50% no-repeat;
  padding: 10px 60px 10px 10px;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
}

.title.center{
  color: #525252;
  letter-spacing: -1px;
  font-size: 20px;
}
.code-share{
  display: inline-block;
  background: #e8e8e8;
  padding: 10px 15px;
  font-size: 14px;
}
.list.tag-list{
  border: 0 none;
  /*border-left: 1px solid #e8e8e8;*/
  padding: 0;
}

/*New design Live Sale Start*/

.new-wrap-live-sale{}
.no-padding{
  padding: 0;
}
.new-wrap-live-sale .live-price{
  border: 0 none;
  color: #fff;
  background: #313131;
  margin: 0;
}
.sold-label{
  text-align: center;
  padding: 5px;
  width: 100%;
  background: #ffa133!important;
  color: #fff;
  font-weight: 600;
}
.ended-label{
  text-align: center;
  padding: 5px;
  width: 100%;
  background: #ffa133!important;
  color: #fff;
  font-weight: 600;
}
.new-wrap-live-sale p.pro-title{
  padding: 0;
  margin: 0 0 5px;
  color: #000;
  border: 0 none;
  font-size: 14px;
  line-height: 16px;
}
.new-wrap-live-sale .product-grid-cond{
  margin-bottom: 10px;
  padding-bottom: 0;
  border-bottom: 0 none;
}
.new-wrap-live-sale .pro-price {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding: 0 0 0 0;
  text-decoration: none;
}
.left-bar-separator
{
  background: #009fc5;
  height: 4px;
}
.price-off{
  color: #ff9600;
}
.up-com-wrap{
  margin-bottom: 15px;
  float: left;
  width: 100%;
}
.main-image img{
  border: 2px solid #29A9C6;
}
.main-image a{
  display: block;
  height: 140px;
  overflow: hidden;
  vertical-align: middle;
  border: 2px solid #29A9C6;
}
.main-image a img{
  border: 0 none;
}
.new-wrap-live-sale .user-tag{
  color: #ff4000;
  padding: 0 0 0 0;
}
.new-wrap-live-sale .user-tag span{
  color: #313131;
  margin: 0 0 0 5px;
  display: inline-block;
  position: relative;
  top: -1px;
}
.new-wrap-live-sale .user-tag span.ion-heart:before, .new-wrap-live-sale .user-tag span.ion-ios-heart-outline:before{
  font-size: 16px;
  color: #ff4000 !important;
  left: -5px;
  position: relative;
  top: 1px;
}
.ion-heart:before, .ion-ios-heart-outline:before, .slider-element-content button.button.icon-left.ion-ios-heart-outline:before, .ion-ios-heart:before{
  color: #ff4000 !important;
}

.new-wrap-live-sale .user-view{
  color: #00a23c;
}
.new-wrap-live-sale .user-view span{

  color: #313131;
  margin: 0 0 0 5px;
  display: inline-block;
  position: relative;
  top: -3px;
}
.new-wrap-live-sale .user-view i{
  font-size: 20px;
}

.back-to-seller{
  float: right;
  font-size: 14px;
}
.faq-list{

}
.faq-list li{
  padding: 8px;
}
.faq-list li i{
  float: right;
}
.faq-txt-wrap{
  padding: 5px 0 0;
  border: 0 none;
}
.faq-txt-wrap ol,ul
{
    list-style-type: decimal;
    padding-left: 20px;
}
.faq-txt-wrap ol + ul
{
    list-style-type: disc;
    padding-left: 35px;
}
.faq-txt-wrap ul li{
  font-size: 14px;
  font-family: PT Sans;
}

.faq-head{
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px !important;
  margin-bottom: 1px !important;
}
.prod-title-new{margin-bottom: 5px;}
/*New design Live Sale End*/

.padding-both{
  padding: 0 4px 0 3px;
}
.adjust-padding{
  padding: 0 1px 0 3px;
}

.cart-list .cart-item-title p.remaining-time{
  background: #313131;
  color: #fff;
  padding: 5px;
  text-align: center;
}
.cur-pric.live-percente{
  text-align: left;
}
.cur-pric.live-percente strike{
  margin: 0 5px 0 0;
}
.brand-list-wrap{
  position: absolute;
  width: 50%;
  z-index: 99;
  box-shadow: -2px 5px 6px rgba(0,0,0,.5);
  -webkit-box-shadow: -2px 5px 6px rgba(0,0,0,.5);
  -o-box-shadow: -2px 5px 6px rgba(0,0,0,.5);
  -moz-box-shadow: -2px 5px 6px rgba(0,0,0,.5);
}
.brand-list-wrap ul{
  max-height: 150px;
}
.brand-list-wrap ul li.item{
  padding: 10px;
}
/*Media CSS*/
@media all and (min-width:768px) and (max-height: 1024px){
  .box img {
    width: 100%;
  }
  .buyer-protection{
    padding: 10px 70px 10px 10px;
  }
  /* .main-image {
     max-height: 185px;
     height: 185px;
   }*/
  .top-logo {
    width: 85px;
    margin-top: 10px;
  }
  .tab-item{
    max-width: 33.33%;
  }
  .myaccount-button {
    margin-bottom: 60px;
    width: 100% !important;
    display: block;
  }
}
@media all and (min-height:361px) and (max-height: 1480px){
  /* some CSS here */
  .box{
    background: #000;
  }
  .box img {
    width: 100%;
  }
  .top-logo {
    width: 95px;
    margin-top: 8px;
  }
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media all and (min-height:361px) and (max-height: 1480px) and (-webkit-min-device-pixel-ratio: 3){
  /* some CSS here */
  .box{
    background: #000;
  }
  .box img {
    width: 100%;
  }
  .top-logo {
    width: 95px;
    margin-top: 8px;
  }
}

@media all and (min-height:361px) and (max-height: 1480px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */
  .box{
    background: #000;
  }
  .box img {
    width: 100%;
  }
  .top-logo {
    width: 95px;
    margin-top: 8px;
  }
}

@media all and (min-height:700px) and (max-height: 1024px){
  .box{
    background: #000;
  }
  .box img {
    width: 100%;

  }
  .buyer-protection{
    padding: 10px 70px 10px 10px;
  }
  /* .main-image {
     max-height: 185px;
     height: 185px;
   }*/
  .top-logo {
    width: 95px;
    margin-top: 8px;
  }
}
@media all and (max-height: 659px){
  .box img{
    width: 100%;
    height: 100%;
  }
  .top-logo {
    width: auto;
    margin-top: 7px;
    height: 35px;
  }
}
@media all and (max-height: 568px){
  .top-logo {
    width: auto;
    margin-top: 12px;
    height: 22px;
  }
  .sidebar-logo-wrap img {
    width: 75px;
    margin: 7px 0 0;
  }
  
  .box img{
    width: 100%;
    height: auto;
    margin-top: -0px;
  }
}
@media all and (max-height: 480px){
  .box img{
    width: 100%;
    height: auto;
    margin-top: -95px;
  }
  .top-logo {
    margin-top: 12px;
    width: 69px;
  }
  .sidebar-logo-wrap img {
    width: 69px;
    margin: 8px 0 0;
  }
}