<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content class="top-bar" drag-content="false">
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-title>
                <img src="/img/top-logo.png" class="top-logo">
            </ion-nav-title>
            <ion-nav-buttons side="right">
                <span class="ion-android-notifications-none notification-top"><p>100</p></span>
                <span class="ion-bag notification-top cart-notifi"><p>100</p></span>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" drag-content="false">
        <ion-header-bar class="bar-stable">
           <img src="/img/top-logo.png" class="top-logo">
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close href="#/app/login">
                    Login
                </ion-item>
                <ion-item menu-close href="#/app/search">
                    Search
                </ion-item>
                <ion-item menu-close href="#/app/browse">
                    Browse
                </ion-item>
                <ion-item menu-close href="#/app/playlists">
                    Playlists
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
