<ion-view view-title="Login">
  <ion-content>
      <button type="button" ng-click="pd.add()">Add</button> 
      <button type="button" ng-click="pd.Update()">Update</button> 
      <button type="button" ng-click="pd.Delete()">Delete</button>
      <button type="button" ng-click="pd.Read()">Read</button>
      <button type="button" ng-click="pd.fblogin()">Read</button>
      
      <div ng-repeat="(key, dd) in  pd.messages">
          <span ng-click="pd.Delete1(key)">{{dd.name}}</span>
      </div>
  </ion-content>
</ion-view>
